force-app/main/default/flows/Change_Household_Owner_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>226</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>loanCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loanRecordVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Open_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_Property</name>
        <label>Add to Collection</label>
        <locationX>138</locationX>
        <locationY>1787</locationY>
        <assignmentItems>
            <assignToReference>propertyCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>propertyRecordVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Properties</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Contact_Collection</name>
        <label>Add To Contact Collection</label>
        <locationX>138</locationX>
        <locationY>2303</locationY>
        <assignmentItems>
            <assignToReference>contactCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contactRecordVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Task_Collection</name>
        <label>Add to Task Collection</label>
        <locationX>314</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>taskCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskRecordVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Value_s</name>
        <label>Assign Contact Value(s)</label>
        <locationX>138</locationX>
        <locationY>2195</locationY>
        <assignmentItems>
            <assignToReference>contactRecordVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecordVar.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Contact_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Loan_Value_s</name>
        <label>Assign Loan Value(s)</label>
        <locationX>226</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>loanRecordVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Loans.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanRecordVar.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanRecordVar.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Loans.StageName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Property_Value_s</name>
        <label>Assign Property Value(s)</label>
        <locationX>138</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>propertyRecordVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Properties.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyRecordVar.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_Property</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Value_s</name>
        <label>Assign Task Value(s)</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>taskRecordVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Tasks.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Task_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Household_Owner_Set_Changed</name>
        <label>Household Owner Set/Changed?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HistoricalChecker__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Loans</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Change Household Owner Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change Household Owner Flow</label>
    <loops>
        <name>Loop_Contacts</name>
        <label>Loop Contacts</label>
        <locationX>50</locationX>
        <locationY>2087</locationY>
        <collectionReference>Get_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contact_Value_s</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Updates_Loans</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Loans</name>
        <label>Loop Loans</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Loans</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Loan_Value_s</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Properties</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Properties</name>
        <label>Loop Properties</label>
        <locationX>50</locationX>
        <locationY>1571</locationY>
        <collectionReference>Get_Properties</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Property_Value_s</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Tasks</name>
        <label>Loop Tasks</label>
        <locationX>226</locationX>
        <locationY>971</locationY>
        <collectionReference>Get_Open_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Task_Value_s</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Loans</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>50</locationX>
        <locationY>1979</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loans</name>
        <label>Get Loans</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Loans</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Tasks</name>
        <label>Get Open Tasks</label>
        <locationX>226</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Loans.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Properties</name>
        <label>Get Properties</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Properties</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Properties__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>50</locationX>
        <locationY>2711</locationY>
        <connector>
            <targetReference>Update_Tasks</targetReference>
        </connector>
        <inputReference>contactCollectionVar</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tasks</name>
        <label>Update Tasks</label>
        <locationX>50</locationX>
        <locationY>2819</locationY>
        <inputReference>taskCollectionVar</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updates_Loans</name>
        <label>Updates Loans</label>
        <locationX>50</locationX>
        <locationY>2495</locationY>
        <connector>
            <targetReference>Updates_Properties</targetReference>
        </connector>
        <inputReference>loanCollectionVar</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updates_Properties</name>
        <label>Updates Properties</label>
        <locationX>50</locationX>
        <locationY>2603</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <inputReference>propertyCollectionVar</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Household_Owner_Set_Changed</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>contactCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>loanCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>loanRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>propertyCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Properties__c</objectType>
    </variables>
    <variables>
        <name>propertyRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Properties__c</objectType>
    </variables>
    <variables>
        <name>taskCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>taskRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
