force-app/main/default/flows/Contact_Home_Phone_to_Mobile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Home_Phone_is_Null</name>
        <label>Home Phone is Null</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Selected_Prop_is_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_Home_Phone_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Home_Phone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HomePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Home_Phone_to_Phone</targetReference>
            </connector>
            <label>True, Home Phone is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selected_Prop_is_Null</name>
        <label>Selected Prop is Null</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_Selected_Property_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SelectedProperty__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Current_Balance_Payment_Rate</targetReference>
            </connector>
            <label>True, Selected Property is Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Formula_Current_Balance</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.SelectedProperty__r.Scheduled_Balance_of_Most_Recent_Closing__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Formula_Current_Payment</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.SelectedProperty__r.PaymentAmount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Formula_Current_Rate</name>
        <dataType>Number</dataType>
        <expression>{!$Record.SelectedProperty__r.Rate_of_Most_Recent_Closing__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Contact - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - Home Phone to Mobile</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Contact_Current_Balance_Payment_Rate</name>
        <label>Update Contact - Current Balance, Payment, Rate</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>Current_Balance__c</field>
            <value>
                <elementReference>Formula_Current_Balance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Payment__c</field>
            <value>
                <elementReference>Formula_Current_Payment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Rate__c</field>
            <value>
                <elementReference>Formula_Current_Rate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Home_Phone_to_Phone</name>
        <label>Update Home Phone to Phone</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Selected_Prop_is_Null</targetReference>
        </connector>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home_Phone__c</field>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Home_Phone_is_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Home_Phone__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
