force-app/main/default/flows/Create_Property_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Property_to_Loan</name>
        <label>Assign Property to Loan</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Get_Loan.Subject_Property_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Property</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Loan</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>PropertyName</name>
        <dataType>String</dataType>
        <expression>{!Get_Loan.Borrower_Record__r.LastName} + &apos; - &apos; + {!Get_Loan.encompass_By_EM__Property_Street__c}</expression>
    </formulas>
    <interviewLabel>Create Property Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Property Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Property</name>
        <label>Create Property</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Assign_Property_to_Loan</targetReference>
        </connector>
        <inputAssignments>
            <field>Appraised_Value__c</field>
            <value>
                <elementReference>Get_Loan.Appraised_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Opportunity__c</field>
            <value>
                <elementReference>Get_Loan.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Household__c</field>
            <value>
                <elementReference>Get_Loan.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PropertyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Units__c</field>
            <value>
                <elementReference>Get_Loan.encompass_By_EM__Units_Financed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupancy__c</field>
            <value>
                <elementReference>Get_Loan.Occupancy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_City__c</field>
            <value>
                <elementReference>Get_Loan.encompass_By_EM__Property_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_County__c</field>
            <value>
                <elementReference>Get_Loan.Property_County__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_State__c</field>
            <value>
                <elementReference>Get_Loan.encompass_By_EM__Property_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Street__c</field>
            <value>
                <elementReference>Get_Loan.encompass_By_EM__Property_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Zip__c</field>
            <value>
                <elementReference>Get_Loan.encompass_By_EM__Property_ZIP__c</elementReference>
            </value>
        </inputAssignments>
        <object>Properties__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Loan</name>
        <label>Get Loan</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Property</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Loan</name>
        <label>Update Loan</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <inputReference>Get_Loan</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Loan</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
