force-app/main/default/flows/createQuoteFromProp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>calculateBalance</name>
        <label>calculateBalance</label>
        <locationX>1001</locationX>
        <locationY>138</locationY>
        <actionName>solidifyUtil</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>createQuote</targetReference>
        </connector>
        <inputParameters>
            <name>interestRate</name>
            <value>
                <elementReference>loanRecord.Interest_Rate__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loanAmt</name>
            <value>
                <elementReference>loanRecord.Loan_Amount__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>numberPayments</name>
            <value>
                <elementReference>numberPaymentsMade</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Payment</name>
            <value>
                <elementReference>loanRecord.Payment_Amount__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>solidifyUtil</nameSegment>
        <outputParameters>
            <assignToReference>balanceOutput</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setLoanIdToAlt</name>
        <label>setLoanIdToAlt</label>
        <locationX>358</locationX>
        <locationY>218</locationY>
        <assignmentItems>
            <assignToReference>loanId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>altLoanId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getLoan</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>altLoanIdNotNull</name>
        <label>altLoanIdNotNull</label>
        <locationX>448</locationX>
        <locationY>53</locationY>
        <defaultConnector>
            <targetReference>createBlankQuote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>altLoanId not Present</defaultConnectorLabel>
        <rules>
            <name>altLoanIdPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>altLoanId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setLoanIdToAlt</targetReference>
            </connector>
            <label>altLoanIdPresent</label>
        </rules>
    </decisions>
    <decisions>
        <name>loanFound</name>
        <label>loanFound</label>
        <locationX>393</locationX>
        <locationY>593</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>loanNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loanId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loanHasAllValues</targetReference>
            </connector>
            <label>loanNotNull</label>
        </rules>
        <rules>
            <name>loanNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loanId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createBlankQuote</targetReference>
            </connector>
            <label>loanNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>loanHasAllValues</name>
        <label>loanHasAllValues</label>
        <locationX>568</locationX>
        <locationY>386</locationY>
        <defaultConnector>
            <targetReference>createBlankQuote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ValuesMissing</defaultConnectorLabel>
        <rules>
            <name>allValuesPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loanRecord.Loan_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loanRecord.Due_In_Months__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loanRecord.Interest_Rate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loanHasPaymentAmount</targetReference>
            </connector>
            <label>allValuesPresent</label>
        </rules>
    </decisions>
    <decisions>
        <name>loanHasPaymentAmount</name>
        <label>loanHasPaymentAmount</label>
        <locationX>804</locationX>
        <locationY>130</locationY>
        <defaultConnector>
            <targetReference>createBlankQuote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>paymentNotPresent</defaultConnectorLabel>
        <rules>
            <name>paymentPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loanRecord.Payment_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>calculateBalance</targetReference>
            </connector>
            <label>paymentPresent</label>
        </rules>
    </decisions>
    <decisions>
        <name>loanIdNotNull</name>
        <label>loanIdNotNull</label>
        <locationX>265</locationX>
        <locationY>51</locationY>
        <defaultConnector>
            <targetReference>altLoanIdNotNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoLoanID</defaultConnectorLabel>
        <rules>
            <name>loanIDFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loanId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getLoan</targetReference>
            </connector>
            <label>loanIDFound</label>
        </rules>
    </decisions>
    <formulas>
        <name>defaultQuoteName</name>
        <dataType>String</dataType>
        <expression>&apos;New Quote &apos; + TEXT({!$Flow.CurrentDate})</expression>
    </formulas>
    <formulas>
        <name>numberPaymentsMade</name>
        <dataType>Number</dataType>
        <expression>IF({!loanRecord.First_Payment__c}!=null,  
  IF ( {!$Flow.CurrentDate}&gt;{!loanRecord.First_Payment__c}, 
     MFLOOR(  ({!$Flow.CurrentDate}-{!loanRecord.First_Payment__c} ) / 30) ,  
     1),
  IF( {!$Flow.CurrentDate}&gt;{!loanRecord.CloseDate}, 
      MFLOOR( ({!$Flow.CurrentDate}-{!loanRecord.CloseDate})/30 ) , 
      1 )
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>quoteName</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.CurrentDate}) + &apos; FOR REFI &apos; + {!loanRecord.Name}</expression>
    </formulas>
    <interviewLabel>createQuoteFromPorp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>createQuoteFromProp</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>create a Quote Record when no prior Loan is Found or prior Loan has missing info</description>
        <name>createBlankQuote</name>
        <label>createBlankQuote</label>
        <locationX>758</locationX>
        <locationY>528</locationY>
        <assignRecordIdToReference>quoteId</assignRecordIdToReference>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>defaultQuoteName</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordCreates>
    <recordCreates>
        <name>createQuote</name>
        <label>createQuote</label>
        <locationX>1031</locationX>
        <locationY>357</locationY>
        <assignRecordIdToReference>quoteId</assignRecordIdToReference>
        <inputAssignments>
            <field>Current_Interest_Rate__c</field>
            <value>
                <elementReference>loanRecord.Interest_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Loan_Amount__c</field>
            <value>
                <elementReference>loanRecord.Loan_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Loan_Balance_Remaining__c</field>
            <value>
                <elementReference>balanceOutput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Loan_First_Payment__c</field>
            <value>
                <elementReference>loanRecord.First_Payment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Loan_Last_Payment_Made__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Loan_Term__c</field>
            <value>
                <elementReference>loanRecord.Due_In_Months__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>quoteName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Loan_Amount__c</field>
            <value>
                <elementReference>balanceOutput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Loan_Term__c</field>
            <value>
                <elementReference>loanRecord.Due_In_Months__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>loanRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordCreates>
    <recordLookups>
        <name>getLoan</name>
        <label>getLoan</label>
        <locationX>249</locationX>
        <locationY>387</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loanFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loanId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>loanRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>Interest_Rate__c</queriedFields>
        <queriedFields>Due_In_Months__c</queriedFields>
        <queriedFields>First_Payment__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Payment_Amount__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>Loan_Amount__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getProperty</name>
        <label>getProperty</label>
        <locationX>139</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loanIdNotNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Properties__c</object>
        <outputAssignments>
            <assignToReference>altLoanId</assignToReference>
            <field>Current_Opportunity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>loanId</assignToReference>
            <field>Most_Recent_Closed_Opportunity__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getProperty</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>altLoanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>balanceOutput</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>loanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loanRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
