force-app/main/default/flows/createQuoteForRefilFromProperty.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assignQuoteValues</name>
        <label>assignQuoteValues</label>
        <locationX>964</locationX>
        <locationY>379</locationY>
        <assignmentItems>
            <assignToReference>newQuote.New_Loan_Interest_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Proposed_Interest_Rate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.New_Loan_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Proposed_Loan_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuote.New_Loan_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Proposed_Term</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateQuote</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>quoteName</name>
        <dataType>String</dataType>
        <expression>&apos;Quote&apos; +   TEXT({!$System.OriginDateTime}) + &apos;- based on&apos; +  {!loanName}</expression>
    </formulas>
    <interviewLabel>createQuoteForRefilFromProperty {!$Flow.CurrentDateTime}</interviewLabel>
    <label>createQuoteForRefilFromProperty</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createQuote</name>
        <label>createQuote</label>
        <locationX>477</locationX>
        <locationY>221</locationY>
        <assignRecordIdToReference>quoteId</assignRecordIdToReference>
        <connector>
            <targetReference>getQuote</targetReference>
        </connector>
        <inputAssignments>
            <field>Current_Interest_Rate__c</field>
            <value>
                <elementReference>interestRate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Loan_Amount__c</field>
            <value>
                <elementReference>loanAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Loan_First_Payment__c</field>
            <value>
                <elementReference>firstPayment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Loan_Term__c</field>
            <value>
                <elementReference>term</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>quoteName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>quoteLoan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordCreates>
    <recordLookups>
        <name>getLoan</name>
        <label>getLoan</label>
        <locationX>307</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createQuote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteLoan</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>householdId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>loanAmount</assignToReference>
            <field>Amount</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>term</assignToReference>
            <field>Due_In_Months__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>firstPayment</assignToReference>
            <field>First_Payment__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>interestRate</assignToReference>
            <field>Interest_Rate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>loanName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getProperty</name>
        <label>getProperty</label>
        <locationX>112</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getLoan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Properties__c</object>
        <outputAssignments>
            <assignToReference>householdId</assignToReference>
            <field>Household__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>quoteLoan</assignToReference>
            <field>Most_Recent_Closed_Opportunity__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getQuote</name>
        <label>getQuote</label>
        <locationX>637</locationX>
        <locationY>238</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Review_Quote_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <outputReference>newQuote</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateQuote</name>
        <label>updateQuote</label>
        <locationX>1125</locationX>
        <locationY>307</locationY>
        <inputReference>newQuote</inputReference>
    </recordUpdates>
    <screens>
        <name>Review_Quote_Details</name>
        <label>Review Quote Details</label>
        <locationX>859</locationX>
        <locationY>273</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignQuoteValues</targetReference>
        </connector>
        <fields>
            <name>CurrentLoanLabel</name>
            <fieldText>&lt;p&gt;Current Loan&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CurrentLoanAmount</name>
            <fieldText>&lt;p&gt;Loan Amount: TEXT({!newQuote.Current_Loan_Amount__c})&lt;/p&gt;&lt;p&gt;Interest Rate: TEXT({!newQuote.Current_Interest_Rate__c})&lt;/p&gt;&lt;p&gt;Term: TEXT({!newQuote.Current_Loan_Term__c})&lt;/p&gt;&lt;p&gt;First Payment Date: TEXT({!newQuote.Current_Loan_First_Payment__c})&lt;/p&gt;&lt;p&gt;Balance Due:&lt;/p&gt;&lt;p&gt;TEXT({!newQuote.Current_Loan_Balance_Remaining__c})&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Proposed_Interest_Rate</name>
            <dataType>Number</dataType>
            <fieldText>Proposed  Interest Rate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Proposed_Term</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>newQuote.Current_Loan_Term__c</elementReference>
            </defaultValue>
            <fieldText>Proposed Term</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Proposed_Loan_Amount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>newQuote.Current_Loan_Balance_Remaining__c</elementReference>
            </defaultValue>
            <fieldText>Proposed Loan Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getProperty</startElementReference>
    <status>Draft</status>
    <variables>
        <name>firstPayment</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>householdId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>interestRate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>5</scale>
    </variables>
    <variables>
        <name>loanAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>loanName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>propertyObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Properties__c</objectType>
    </variables>
    <variables>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quoteLoan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>term</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
