force-app/main/default/flows/Disclosure_Alert_Email_Scheduled_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Disclosure_Email</name>
        <label>Send Disclosure Email</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>emailCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply@solidify.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>subjectFormula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>disclosureEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Email_Collection</name>
        <label>Add to Email Collection</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>emailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>dusty@solidify.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ashleigh@solidify.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>heather@solidify.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Disclosure_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Stage_Filter</name>
        <label>Stage Filter</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Does Not Meet Criteria</defaultConnectorLabel>
        <rules>
            <name>Meets_Criteria</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>File Started</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Docs Received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Docs Requested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Email_Collection</targetReference>
            </connector>
            <label>Meets Criteria</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>subjectFormula</name>
        <dataType>String</dataType>
        <expression>&apos;Disclosure Alert on Loan - &apos;+{!$Record.Name}</expression>
    </formulas>
    <interviewLabel>Disclosure Alert Email Scheduled Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Disclosure Alert Email Scheduled Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Stage_Filter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Discolsure_Alert__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-09-20</startDate>
            <startTime>07:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>disclosureEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Solidify Team,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: &amp;quot;Open Sans&amp;quot;, sans-serif; color: rgb(36, 36, 36);&quot;&gt;Loan &lt;/span&gt;&lt;a href=&quot;https://solidify.lightning.force.com/{!$Record.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: &amp;quot;Open Sans&amp;quot;, sans-serif; color: rgb(36, 36, 36);&quot;&gt;{!$Record.Name}&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: &amp;quot;Open Sans&amp;quot;, sans-serif; color: rgb(36, 36, 36);&quot;&gt; has not reached the Submitted milestone within 3 business days of the application date.&amp;nbsp;Please confirm the application date and stage, then notify the LO.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: &amp;quot;Open Sans&amp;quot;, sans-serif; color: rgb(36, 36, 36);&quot;&gt;Thank you!&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>emailCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
