force-app/main/default/flows/Encompass_Email_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Alert_Encompass_Error_Logged</name>
        <label>Email Alert: Encompass Error Logged</label>
        <locationX>264</locationX>
        <locationY>455</locationY>
        <actionName>encompass_By_EM__Error_Log__c.Encompass_Error_Logged</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>encompass_By_EM__Error_Log__c.Encompass_Error_Logged</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Not_duplicate_error</name>
        <label>Not duplicate error</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Email_Alert_Encompass_Error_Logged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Error_Message_Contains_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.encompass_By_EM__Error_Message__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Line Number: 651. Message: Attempt to de-reference a null object. Cause: null</stringValue>
                </rightValue>
            </conditions>
            <label>Error Message Contains null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Encompass Email Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Encompass Email Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Not_duplicate_error</targetReference>
        </connector>
        <object>encompass_By_EM__Error_Log__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
