force-app/main/default/flows/Encompass_Employment_Updates_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>ContactType</name>
        <label>ContactType</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Update_CoBorrower_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CoBorrower</defaultConnectorLabel>
        <rules>
            <name>Borrower</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.encompass_By_EM__Employment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Borrower</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Borrower_Contact</targetReference>
            </connector>
            <label>Borrower</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Encompass Employment Updates Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Encompass Employment Updates Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Borrower_Contact</name>
        <label>Update Borrower Contact</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Employer_Name__c</field>
            <value>
                <elementReference>$Record.encompass_By_EM__Employer_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Income__c</field>
            <value>
                <elementReference>$Record.encompass_By_EM__Total_Income__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>$Record.encompass_By_EM__Job_Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Years_on_Job__c</field>
            <value>
                <elementReference>$Record.encompass_By_EM__Duration_Years__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.encompass_By_EM__Loan_Application__r.Borrower__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CoBorrower_Contact</name>
        <label>Update CoBorrower Contact</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Employer_Name__c</field>
            <value>
                <elementReference>$Record.encompass_By_EM__Employer_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Income__c</field>
            <value>
                <elementReference>$Record.encompass_By_EM__Total_Income__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>$Record.encompass_By_EM__Job_Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Years_on_Job__c</field>
            <value>
                <elementReference>$Record.encompass_By_EM__Duration_Years__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.encompass_By_EM__Loan_Application__r.CoBorrower__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ContactType</targetReference>
        </connector>
        <object>encompass_By_EM__Employment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
