force-app/main/default/flows/Encompass_Application_Handler_New.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>CoBorrowerOnLoan</name>
        <label>CoBorrowerOnLoan</label>
        <locationX>2409</locationX>
        <locationY>1261</locationY>
        <assignmentItems>
            <assignToReference>GetOpportunity.CoBorrower_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FindCoBorrowerContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateLoan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NewCoBorrowerOnLoan</name>
        <label>NewCoBorrowerOnLoan</label>
        <locationX>2089</locationX>
        <locationY>1280</locationY>
        <assignmentItems>
            <assignToReference>GetOpportunity.CoBorrower_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateCoBorrowerContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateLoan</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>HouseholdAccountRecordTypeID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012f4000000d7oWAAQ</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Borrower_OCR_Exists</name>
        <label>Borrower OCR Exists</label>
        <locationX>2325</locationX>
        <locationY>440</locationY>
        <defaultConnector>
            <targetReference>Sequence_Check_Existing_Borrower_No_OCR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OCR Not found</defaultConnectorLabel>
        <rules>
            <name>Borrower_OCR_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Borrower_OCR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sequence_Check_Existing_Borrower</targetReference>
            </connector>
            <label>Borrower OCR Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>BorrowerDataChange</name>
        <label>BorrowerDataChange?</label>
        <locationX>1269</locationX>
        <locationY>1269</locationY>
        <defaultConnector>
            <targetReference>WasCoBorrowerDataChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BorowerDataWasChanged</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.encompass_By_EM__Borrower_First_Name__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.encompass_By_EM__Borrower_Last_Name__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.encompass_By_EM__Borrower_Email__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.encompass_By_EM__Borrower_Mobile_Phone__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.encompass_By_EM__Borrower_Home_Phone__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Borrower__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateBorrowerContactdata</targetReference>
            </connector>
            <label>BorowerDataWasChanged</label>
        </rules>
    </decisions>
    <decisions>
        <name>Coborrower_OCR_Found</name>
        <label>Coborrower OCR Found</label>
        <locationX>2346</locationX>
        <locationY>977</locationY>
        <defaultConnector>
            <targetReference>OCRCoBorrowerFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No CoBorrower OCR</defaultConnectorLabel>
        <rules>
            <name>Coborrower_OCR_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Coborrower_OCR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Coborrower OCR Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Coborrower_Being_Removed</name>
        <label>Is Coborrower Being Removed</label>
        <locationX>1396</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>FindCoBorrowerContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CoBorrower Info Is Complete</defaultConnectorLabel>
        <rules>
            <name>CoBorrower_Info_missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.encompass_By_EM__CoBorrower_Last_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CoBorrower__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sequence__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CoBorrower__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_CoBorrower_from_Application</targetReference>
            </connector>
            <label>CoBorrower Record Attached But No Info</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsBorrowerNull</name>
        <label>IsBorrowerNullOrChanged</label>
        <locationX>1246</locationX>
        <locationY>588</locationY>
        <defaultConnector>
            <targetReference>IsCoBorrowerNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Same Borrower</defaultConnectorLabel>
        <rules>
            <name>BorrowerIsNull</name>
            <conditionLogic>(1 AND 2 AND 3) OR ( 4 AND 5 AND (6 OR 7  OR 8 OR 9) and 10)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.encompass_By_EM__Borrower_First_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.encompass_By_EM__Borrower_First_Name__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.encompass_By_EM__Borrower_Last_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.encompass_By_EM__Borrower_Last_Name__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Borrower__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.encompass_By_EM__Borrower_First_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.encompass_By_EM__Borrower_Last_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.encompass_By_EM__Borrower_Birthdate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.encompass_By_EM__Borrower_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.encompass_By_EM__Borrower_Home_Phone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.encompass_By_EM__Borrower_Mobile_Phone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Borrower__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Borrower_Contact</targetReference>
            </connector>
            <label>Borrower Is Null or Is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCoBorrowerNull</name>
        <label>IsCoBorrowerNull</label>
        <locationX>1246</locationX>
        <locationY>917</locationY>
        <defaultConnector>
            <targetReference>BorrowerDataChange</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CoBorrowerIsNull</name>
            <conditionLogic>(6 AND 7 AND 8) OR (1 AND 2 AND (9  OR 3 OR 4 OR 10) AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.encompass_By_EM__CoBorrower_First_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.encompass_By_EM__CoBorrower_Last_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.encompass_By_EM__CoBorrower_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.encompass_By_EM__CoBorrower_Home_Phone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CoBorrower__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.encompass_By_EM__CoBorrower_First_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CoBorrower__r.FirstName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.encompass_By_EM__CoBorrower_Last_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CoBorrower__r.LastName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CoBorrower__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.encompass_By_EM__CoBorrower_BirthDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.encompass_By_EM__CoBorrower_Mobile_Phone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Coborrower_Being_Removed</targetReference>
            </connector>
            <label>CoBorrowerIsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsDeleted</name>
        <label>IsDeleted?</label>
        <locationX>658</locationX>
        <locationY>428</locationY>
        <defaultConnector>
            <targetReference>GetOpportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecordIsDeleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.encompass_By_EM__Is_Deleted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteApplication</targetReference>
            </connector>
            <label>RecordIsDeleted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Loan_missing_Borrower_Info_on_App</name>
        <label>Loan missing Borrower Info on App</label>
        <locationX>1258</locationX>
        <locationY>1779</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Loan_is_missing_info</name>
            <conditionLogic>(1 AND 2)  OR  (3 AND 4) OR (5 AND 6) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.encompass_By_EM__Opportunity__r.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Borrower__r.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.encompass_By_EM__Opportunity__r.Borrower_Record__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Borrower__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.encompass_By_EM__Opportunity__r.CoBorrower_Record__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CoBorrower__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sequence__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Loan_Account_Borrower_CoBorrower_if_missing</targetReference>
            </connector>
            <label>Loan is missing info</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sequence_Check_Existing_Borrower</name>
        <label>Sequence Check Existing Borrower</label>
        <locationX>2368</locationX>
        <locationY>651</locationY>
        <defaultConnector>
            <targetReference>IsCoBorrowerNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Secondary Borrower</defaultConnectorLabel>
        <rules>
            <name>Primary_Borrower</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sequence__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateLoanBorrowerExistingContact</targetReference>
            </connector>
            <label>Primary Borrower</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sequence_Check_Existing_Borrower_No_OCR</name>
        <label>Sequence Check Existing Borrower No OCR</label>
        <locationX>2720</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>CreateOCRExistingSecondaryBorrower</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Secondary Borrower</defaultConnectorLabel>
        <rules>
            <name>Primary_Borrower_With_OCR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sequence__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_OCRBorrowerExistingContact</targetReference>
            </connector>
            <label>Primary Borrower</label>
        </rules>
    </decisions>
    <decisions>
        <name>SequenceCheckNew</name>
        <label>Sequence Check New</label>
        <locationX>2040</locationX>
        <locationY>574</locationY>
        <defaultConnector>
            <targetReference>Create_OCR_Secondary_Borrower</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Secondary Application</defaultConnectorLabel>
        <rules>
            <name>Primary_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sequence__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sequence__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_OCR_With_New</targetReference>
            </connector>
            <label>Primary Application</label>
        </rules>
    </decisions>
    <decisions>
        <name>WasBorrowerContactFound</name>
        <label>WasBorrowerContactFound</label>
        <locationX>1654</locationX>
        <locationY>442</locationY>
        <defaultConnector>
            <targetReference>CreateNewAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact Found</defaultConnectorLabel>
        <rules>
            <name>BorrowerContactWasFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Borrower_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateBorrowerContact</targetReference>
            </connector>
            <label>BorrowerContactWasFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>WasCoBorrowerContactFound</name>
        <label>WasCoBorrowerContactFound?</label>
        <locationX>1795</locationX>
        <locationY>954</locationY>
        <defaultConnector>
            <targetReference>CreateCoBorrowerContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CoBorrowerContactWasFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindCoBorrowerContact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCoBorrowerContact</targetReference>
            </connector>
            <label>CoBorrowerContactWasFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>WasCoBorrowerDataChanged</name>
        <label>WasCoBorrowerDataChanged</label>
        <locationX>1270</locationX>
        <locationY>1536</locationY>
        <defaultConnector>
            <targetReference>Loan_missing_Borrower_Info_on_App</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CoBorrowerDataWasChanged</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.encompass_By_EM__CoBorrower_First_Name__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.encompass_By_EM__CoBorrower_Last_Name__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.encompass_By_EM__CoBorrower_Email__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.encompass_By_EM__CoBorrower_Mobile_Phone__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.encompass_By_EM__CoBorrower_Home_Phone__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CoBorrower__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCoBorrowerData</targetReference>
            </connector>
            <label>CoBorrowerDataWasChanged</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BorrowerEmail</name>
        <dataType>String</dataType>
        <expression>If(ISBLANK({!$Record.encompass_By_EM__Borrower_Email__c}), {!$Record__Prior.encompass_By_EM__Borrower_Email__c}, {!$Record.encompass_By_EM__Borrower_Email__c})</expression>
    </formulas>
    <formulas>
        <name>BorrowerHomePhone</name>
        <dataType>String</dataType>
        <expression>If(ISBLANK({!$Record.encompass_By_EM__Borrower_Home_Phone__c}), {!$Record__Prior.encompass_By_EM__Borrower_Home_Phone__c}, {!$Record.encompass_By_EM__Borrower_Home_Phone__c})</expression>
    </formulas>
    <formulas>
        <name>BorrowerMobilePhone</name>
        <dataType>String</dataType>
        <expression>If(ISBLANK({!$Record.encompass_By_EM__Borrower_Mobile_Phone__c}), {!$Record__Prior.encompass_By_EM__Borrower_Mobile_Phone__c}, {!$Record.encompass_By_EM__Borrower_Mobile_Phone__c})</expression>
    </formulas>
    <formulas>
        <name>HouseHoldName</name>
        <dataType>String</dataType>
        <expression>{!$Record.encompass_By_EM__Borrower_First_Name__c} + &quot; &quot; + {!$Record.encompass_By_EM__Borrower_Last_Name__c}  + If({!NOT(ISBLANK($Record.encompass_By_EM__CoBorrower_Last_Name__c))}, &quot;-&quot;+ {!$Record.encompass_By_EM__CoBorrower_First_Name__c}  + &quot; &quot; + {!$Record.encompass_By_EM__CoBorrower_Last_Name__c} , &quot;&quot;) + &quot; Household&quot;</expression>
    </formulas>
    <formulas>
        <name>NewCoBorrowerHousehold</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.encompass_By_EM__Opportunity__r.AccountId}), {!CreateNewAccount}, {!$Record.encompass_By_EM__Opportunity__r.AccountId})</expression>
    </formulas>
    <interviewLabel>Encompass Application Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Encompass Application Handler New - Solidify</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_OCR_Secondary_Borrower</name>
        <label>Create OCR Secondary Borrower</label>
        <locationX>2025</locationX>
        <locationY>734</locationY>
        <connector>
            <targetReference>IsCoBorrowerNull</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>CreateNewContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.encompass_By_EM__Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Borrower</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_OCR_With_New</name>
        <label>Create OCR With New</label>
        <locationX>2230</locationX>
        <locationY>593</locationY>
        <connector>
            <targetReference>UpdateLoanBorrower</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>CreateNewContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.encompass_By_EM__Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Borrower</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_OCRBorrowerExistingContact</name>
        <label>Create OCRBorrowerExistingContact</label>
        <locationX>2673</locationX>
        <locationY>735</locationY>
        <connector>
            <targetReference>UpdateLoanBorrowerExistingContact</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Find_Borrower_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.encompass_By_EM__Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Borrower</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateCoBorrowerContact</name>
        <label>CreateCoBorrowerContact</label>
        <locationX>1805</locationX>
        <locationY>1147</locationY>
        <connector>
            <targetReference>OCRCoBorrowerNew</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>NewCoBorrowerHousehold</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.encompass_By_EM__CoBorrower_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.encompass_By_EM__CoBorrower_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>$Record.encompass_By_EM__CoBorrower_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.encompass_By_EM__CoBorrower_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.encompass_By_EM__CoBorrower_Mobile_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetOpportunity.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateNewAccount</name>
        <label>CreateNewAccount</label>
        <locationX>1665</locationX>
        <locationY>587</locationY>
        <connector>
            <targetReference>CreateNewContact</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>HouseHoldName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetOpportunity.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>HouseholdAccountRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Household/Client</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateNewContact</name>
        <label>CreateNewContact</label>
        <locationX>1811</locationX>
        <locationY>555</locationY>
        <connector>
            <targetReference>Update_Application_Borrower_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>CreateNewAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>$Record.encompass_By_EM__Borrower_Birthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.encompass_By_EM__Borrower_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.encompass_By_EM__Borrower_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>$Record.encompass_By_EM__Borrower_Home_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.encompass_By_EM__Borrower_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.encompass_By_EM__Borrower_Mobile_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetOpportunity.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateOCRExistingSecondaryBorrower</name>
        <label>CreateOCRExistingSecondaryBorrower</label>
        <locationX>2723</locationX>
        <locationY>990</locationY>
        <connector>
            <targetReference>BorrowerDataChange</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Find_Borrower_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.encompass_By_EM__Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Borrower</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>OCRCoBorrowerFound</name>
        <label>OCRCoBorrowerFound</label>
        <locationX>2528</locationX>
        <locationY>1090</locationY>
        <connector>
            <targetReference>CoBorrowerOnLoan</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>FindCoBorrowerContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.encompass_By_EM__Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Co-Borrower</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>OCRCoBorrowerNew</name>
        <label>OCRCoBorrowerNew</label>
        <locationX>1942</locationX>
        <locationY>1148</locationY>
        <connector>
            <targetReference>UpdateCobrrowerContactNew</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>CreateCoBorrowerContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.encompass_By_EM__Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Co-Borrower</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>DeleteApplication</name>
        <label>DeleteApplication</label>
        <locationX>1088</locationX>
        <locationY>446</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>encompass_By_EM__Loan_Application__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Find_Borrower_Contact</name>
        <label>Find Borrower Contact</label>
        <locationX>1469</locationX>
        <locationY>586</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WasBorrowerContactFound</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND (3 OR 4 OR 5 OR 7 OR 8) AND 6)</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.encompass_By_EM__Borrower_First_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.encompass_By_EM__Borrower_Last_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.encompass_By_EM__Borrower_Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>HomePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.encompass_By_EM__Borrower_Home_Phone__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.encompass_By_EM__Borrower_Mobile_Phone__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HomePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.encompass_By_EM__Borrower_Mobile_Phone__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.encompass_By_EM__Borrower_Home_Phone__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Borrower_OCR</name>
        <label>Find Borrower OCR</label>
        <locationX>2128</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Borrower_OCR_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.encompass_By_EM__Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Borrower_Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Borrower</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Coborrower_OCR</name>
        <label>Find Coborrower OCR</label>
        <locationX>2205</locationX>
        <locationY>924</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Coborrower_OCR_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.encompass_By_EM__Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FindCoBorrowerContact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Co-Borrower</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>FindCoBorrowerContact</name>
        <label>FindCoBorrowerContact</label>
        <locationX>1608</locationX>
        <locationY>1005</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WasCoBorrowerContactFound</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 7 OR 8)</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.encompass_By_EM__CoBorrower_First_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.encompass_By_EM__CoBorrower_Last_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.encompass_By_EM__CoBorrower_Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.encompass_By_EM__CoBorrower_Mobile_Phone__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>HomePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.encompass_By_EM__CoBorrower_Home_Phone__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.encompass_By_EM__CoBorrower_Home_Phone__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>HomePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.encompass_By_EM__CoBorrower_Mobile_Phone__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Birthdate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.encompass_By_EM__Borrower_Birthdate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunity</name>
        <label>GetOpportunity</label>
        <locationX>838</locationX>
        <locationY>641</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsBorrowerNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.encompass_By_EM__Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Remove_CoBorrower_from_Application</name>
        <label>Remove CoBorrower from Application</label>
        <locationX>1615</locationX>
        <locationY>1145</locationY>
        <connector>
            <targetReference>Remove_Coborrower_From_Loan</targetReference>
        </connector>
        <inputAssignments>
            <field>CoBorrower__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Coborrower_From_Loan</name>
        <label>Remove Coborrower From Loan</label>
        <locationX>1452</locationX>
        <locationY>1205</locationY>
        <connector>
            <targetReference>BorrowerDataChange</targetReference>
        </connector>
        <inputAssignments>
            <field>CoBorrower_Record__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.encompass_By_EM__Opportunity__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Application_Borrower_Contact</name>
        <label>Update Application Borrower Contact</label>
        <locationX>1910</locationX>
        <locationY>586</locationY>
        <connector>
            <targetReference>SequenceCheckNew</targetReference>
        </connector>
        <inputAssignments>
            <field>Borrower__c</field>
            <value>
                <elementReference>CreateNewContact</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Loan_Account_Borrower_CoBorrower_if_missing</name>
        <label>Update Loan Account-Borrower-CoBorrower if missing</label>
        <locationX>1476</locationX>
        <locationY>1762</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Borrower__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Borrower_Record__c</field>
            <value>
                <elementReference>$Record.Borrower__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoBorrower_Record__c</field>
            <value>
                <elementReference>$Record.CoBorrower__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.encompass_By_EM__Opportunity__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateBorrowerContact</name>
        <label>UpdateBorrowerContact</label>
        <locationX>1962</locationX>
        <locationY>438</locationY>
        <connector>
            <targetReference>Find_Borrower_OCR</targetReference>
        </connector>
        <inputAssignments>
            <field>Borrower__c</field>
            <value>
                <elementReference>Find_Borrower_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateBorrowerContactdata</name>
        <label>UpdateBorrowerContactdata</label>
        <locationX>1547</locationX>
        <locationY>1391</locationY>
        <connector>
            <targetReference>WasCoBorrowerDataChanged</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Borrower__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>BorrowerEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>BorrowerHomePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>BorrowerMobilePhone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCoBorrowerContact</name>
        <label>UpdateCoBorrowerContact</label>
        <locationX>2030</locationX>
        <locationY>964</locationY>
        <connector>
            <targetReference>Find_Coborrower_OCR</targetReference>
        </connector>
        <inputAssignments>
            <field>CoBorrower__c</field>
            <value>
                <elementReference>FindCoBorrowerContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCoBorrowerData</name>
        <label>UpdateCoBorrowerData</label>
        <locationX>1524</locationX>
        <locationY>1585</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CoBorrower__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.encompass_By_EM__CoBorrower_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.encompass_By_EM__CoBorrower_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>$Record.encompass_By_EM__CoBorrower_Home_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.encompass_By_EM__CoBorrower_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.encompass_By_EM__CoBorrower_Mobile_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCobrrowerContactNew</name>
        <label>UpdateCobrrowerContactNew</label>
        <locationX>2099</locationX>
        <locationY>1131</locationY>
        <connector>
            <targetReference>NewCoBorrowerOnLoan</targetReference>
        </connector>
        <inputAssignments>
            <field>CoBorrower__c</field>
            <value>
                <elementReference>CreateCoBorrowerContact</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateLoan</name>
        <label>updateLoan</label>
        <locationX>2130</locationX>
        <locationY>1427</locationY>
        <connector>
            <targetReference>BorrowerDataChange</targetReference>
        </connector>
        <inputReference>GetOpportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateLoanBorrower</name>
        <label>UpdateLoanBorrower</label>
        <locationX>2229</locationX>
        <locationY>779</locationY>
        <connector>
            <targetReference>IsCoBorrowerNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.encompass_By_EM__Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>CreateNewContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Borrower_Record__c</field>
            <value>
                <elementReference>CreateNewAccount</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateLoanBorrowerExistingContact</name>
        <label>UpdateLoanBorrowerExistingContact</label>
        <locationX>2498</locationX>
        <locationY>859</locationY>
        <connector>
            <targetReference>IsCoBorrowerNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.encompass_By_EM__Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Find_Borrower_Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Borrower_Record__c</field>
            <value>
                <elementReference>Find_Borrower_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>1130</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>IsDeleted</targetReference>
        </connector>
        <object>encompass_By_EM__Loan_Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OppContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>OppContactRoles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
</Flow>
