force-app/main/default/flows/Encompass_Property_Handler_Solidify.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Update_fields_in_Prop_Record_with_new_Street</name>
        <label>Update fields in Prop Record with new Street</label>
        <locationX>754</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Get_Property_Record_with_new_Street.Appraised_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Appraised_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Property_Record_with_new_Street.Current_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Property_Record_with_new_Street.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PropertyName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_found_property</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Prop_Info_Changed</name>
        <label>Is Prop Info Changed</label>
        <locationX>941</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No Change to Property Info</defaultConnectorLabel>
        <rules>
            <name>Property_Info_Is_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.encompass_By_EM__Property_City__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.encompass_By_EM__Property_State__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.encompass_By_EM__Property_Street__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.encompass_By_EM__Property_ZIP__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Appraised_Value__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StreetChange</targetReference>
            </connector>
            <label>Property Info Is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsPropertyFound</name>
        <label>IsPropertyFound</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>create_property_flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Property Exists</defaultConnectorLabel>
        <rules>
            <name>Property_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Property.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Property_to_Loan</targetReference>
            </connector>
            <label>Property Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsSubjectPropertyNull</name>
        <label>IsSubjectPropertyNull</label>
        <locationX>561</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Is_Prop_Info_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Property is not null</defaultConnectorLabel>
        <rules>
            <name>SubjectPropertyIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject_Property_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Property</targetReference>
            </connector>
            <label>Property Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Found</name>
        <label>Record Found</label>
        <locationX>886</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>create_property_flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create New Property</defaultConnectorLabel>
        <rules>
            <name>Property_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Property_Record_with_new_Street.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_fields_in_Prop_Record_with_new_Street</targetReference>
            </connector>
            <label>Property Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check for street change.  If the existing value is TBD or null, and there&apos;s a change, OK to update THIS record.  Otherwise, need to see if there&apos;s another record that exists for the property to update or create a new one</description>
        <name>StreetChange</name>
        <label>Street Change</label>
        <locationX>688</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_Property_Record_with_new_Street</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Find-create a new property record</defaultConnectorLabel>
        <rules>
            <name>OK_to_update_this_prop_record</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.encompass_By_EM__Property_Street__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TBD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.encompass_By_EM__Property_Street__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.encompass_By_EM__Property_Street__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Subject_Prop_Street__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Prop</targetReference>
            </connector>
            <label>OK To Update This Prop Record</label>
        </rules>
    </decisions>
    <description>Searches for existing property record on the Account, creates if not found, updates Loan</description>
    <environments>Default</environments>
    <formulas>
        <name>PropertyName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Borrower_Record__r.LastName} + &apos; - &apos; + {!$Record.encompass_By_EM__Property_Street__c}</expression>
    </formulas>
    <interviewLabel>Encompass Property Handler - Solidify {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Encompass Property Handler - Solidify</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Property</name>
        <label>Find Property</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsPropertyFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Property_Street__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.encompass_By_EM__Property_Street__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Property_City__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.encompass_By_EM__Property_City__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Property_State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.encompass_By_EM__Property_State__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Property_Zip__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.encompass_By_EM__Property_ZIP__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Property_Street__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>TBD</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Properties__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Property_Record_with_new_Street</name>
        <label>Get Property Record with new Street</label>
        <locationX>886</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Property_Street__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.encompass_By_EM__Property_Street__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Property_City__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Subject_Prop_City__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Property_State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.encompass_By_EM__Property_State__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Properties__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_Active_Loan_to_Property</name>
        <label>Add Active Loan to Property</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Property.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PropertyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_City__c</field>
            <value>
                <elementReference>$Record.encompass_By_EM__Property_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_State__c</field>
            <value>
                <elementReference>$Record.encompass_By_EM__Property_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Street__c</field>
            <value>
                <elementReference>$Record.encompass_By_EM__Property_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Zip__c</field>
            <value>
                <elementReference>$Record.encompass_By_EM__Property_ZIP__c</elementReference>
            </value>
        </inputAssignments>
        <object>Properties__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Add_Property_to_Loan</name>
        <label>Add Property to Loan</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Add_Active_Loan_to_Property</targetReference>
        </connector>
        <inputAssignments>
            <field>Subject_Property_Name__c</field>
            <value>
                <elementReference>Find_Property.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Change_Prop_ID_on_Loan</name>
        <label>Change Prop ID on Loan</label>
        <locationX>754</locationX>
        <locationY>1079</locationY>
        <inputAssignments>
            <field>Subject_Property_Name__c</field>
            <value>
                <elementReference>Get_Property_Record_with_new_Street.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_found_property</name>
        <label>Update found property</label>
        <locationX>754</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Change_Prop_ID_on_Loan</targetReference>
        </connector>
        <inputReference>Get_Property_Record_with_new_Street</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Prop</name>
        <label>Update Prop</label>
        <locationX>490</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Subject_Property_Name__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Appraised_Value__c</field>
            <value>
                <elementReference>$Record.Appraised_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Household__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PropertyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_City__c</field>
            <value>
                <elementReference>$Record.encompass_By_EM__Property_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_State__c</field>
            <value>
                <elementReference>$Record.encompass_By_EM__Property_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Street__c</field>
            <value>
                <elementReference>$Record.encompass_By_EM__Property_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Zip__c</field>
            <value>
                <elementReference>$Record.encompass_By_EM__Property_ZIP__c</elementReference>
            </value>
        </inputAssignments>
        <object>Properties__c</object>
    </recordUpdates>
    <start>
        <locationX>435</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsSubjectPropertyNull</targetReference>
        </connector>
        <filterFormula>AND(  NOT(ISBLANK({!$Record.AccountId})),
OR(
AND( IsNew(), 
OR(  NOT( ISBLANK( TEXT({!$Record.encompass_By_EM__Property_State__c}) ) ),NOT(ISBLANK({!$Record.encompass_By_EM__Property_City__c})) , NOT(ISBLANK({!$Record.encompass_By_EM__Property_Street__c})), NOT(ISBLANK({!$Record.encompass_By_EM__Property_ZIP__c})) )  ), 
ISCHANGED({!$Record.encompass_By_EM__Property_City__c}),
ISCHANGED({!$Record.encompass_By_EM__Property_State__c}),
ISCHANGED({!$Record.encompass_By_EM__Property_ZIP__c}),
ISCHANGED({!$Record.encompass_By_EM__Property_Street__c}),
ISCHANGED({!$Record.AccountId})
 )
)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>create_property_flow</name>
        <label>create property flow</label>
        <locationX>561</locationX>
        <locationY>1631</locationY>
        <flowName>Create_Property_Record</flowName>
        <inputAssignments>
            <name>OpportunityId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
