force-app/main/default/flows/Lead_Contact_create_Proposal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Lead_or_Contact</name>
        <label>Lead or Contact</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Get_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead</defaultConnectorLabel>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recordid</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <formulas>
        <name>ContactProposalName</name>
        <dataType>String</dataType>
        <expression>{!Get_Contact.LastName} + &quot; &quot; + {!Get_Contact.ProgramNameS1F__c} + &quot; Scenarios&quot;</expression>
    </formulas>
    <formulas>
        <name>LeadProposalName</name>
        <dataType>String</dataType>
        <expression>{!Get_Lead.LastName} + &quot; &quot; + {!Get_Lead.ProgramNameS1F__c} + &quot; Scenarios&quot;</expression>
    </formulas>
    <interviewLabel>Lead/Contact create Proposal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead/Contact create Proposal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Proposal_Contact</name>
        <label>Create Proposal-Contact</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <inputAssignments>
            <field>Borrower__c</field>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Balance__c</field>
            <value>
                <elementReference>Get_Contact.Current_Balance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Payment__c</field>
            <value>
                <elementReference>Get_Contact.Current_Payment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Program__c</field>
            <value>
                <elementReference>Get_Contact.Current_Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Rate__c</field>
            <value>
                <elementReference>Get_Contact.Current_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DownPaymentScenario1__c</field>
            <value>
                <elementReference>Get_Contact.DownPaymentScenario1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DownPaymentScenario2__c</field>
            <value>
                <elementReference>Get_Contact.DownPaymentScenario2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DownPaymentScenario3__c</field>
            <value>
                <elementReference>Get_Contact.DownPaymentScenario3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimate_Value__c</field>
            <value>
                <elementReference>Get_Contact.Estimated_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedHOAScenario1__c</field>
            <value>
                <elementReference>Get_Contact.EstimatedHOAScenario1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedHOAScenario2__c</field>
            <value>
                <elementReference>Get_Contact.EstimatedHOAScenario2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedHOAScenario3__c</field>
            <value>
                <elementReference>Get_Contact.EstimatedHOAScenario3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedInsuranceScenario1__c</field>
            <value>
                <elementReference>Get_Contact.EstimatedInsuranceScenario1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedInsuranceScenario2__c</field>
            <value>
                <elementReference>Get_Contact.EstimatedInsuranceScenario2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedInsuranceScenario3__c</field>
            <value>
                <elementReference>Get_Contact.EstimatedInsuranceScenario3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedMortgageInsuranceScenario1__c</field>
            <value>
                <elementReference>Get_Contact.EstimatedMortgageInsuranceScenario1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedMortgageInsuranceScenario2__c</field>
            <value>
                <elementReference>Get_Contact.EstimatedMortgageInsuranceScenario2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedMortgageInsuranceScenario3__c</field>
            <value>
                <elementReference>Get_Contact.EstimatedMortgageInsuranceScenario3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedTaxesScenario1__c</field>
            <value>
                <elementReference>Get_Contact.EstimatedTaxesScenario1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedTaxesScenario2__c</field>
            <value>
                <elementReference>Get_Contact.EstimatedTaxesScenario2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedTaxesScenario3__c</field>
            <value>
                <elementReference>Get_Contact.EstimatedTaxesScenario3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Value__c</field>
            <value>
                <elementReference>Get_Contact.Estimated_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Loan_Amount_Scenario_1__c</field>
            <value>
                <elementReference>Get_Contact.First_Loan_Amount_Scenario_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Loan_Amount_Scenario_2__c</field>
            <value>
                <elementReference>Get_Contact.Loan_Amount_Scenario_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Loan_Amount_Scenario_3__c</field>
            <value>
                <elementReference>Get_Contact.Loan_Amount_Scenario_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Program_Scenario_1__c</field>
            <value>
                <elementReference>Get_Contact.Loan_Program_Scenario_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Program_Scenario_2__c</field>
            <value>
                <elementReference>Get_Contact.Loan_Program_Scenario_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Program_Scenario_3__c</field>
            <value>
                <elementReference>Get_Contact.Loan_Program_Scenario_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ContactProposalName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Units__c</field>
            <value>
                <elementReference>Get_Contact.Number_of_Units__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupancy__c</field>
            <value>
                <elementReference>Get_Contact.Occupancy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purpose_Scenario_1__c</field>
            <value>
                <elementReference>Get_Contact.Purpose_Scenario_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purpose_Scenario_2__c</field>
            <value>
                <elementReference>Get_Contact.Purpose_Scenario_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purpose_Scenario_3__c</field>
            <value>
                <elementReference>Get_Contact.Purpose_Scenario_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purpose__c</field>
            <value>
                <elementReference>Get_Contact.Purpose__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rate_Scenario_1__c</field>
            <value>
                <elementReference>Get_Contact.Rate_Scenario_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rate_Scenario_2__c</field>
            <value>
                <elementReference>Get_Contact.RateScenario2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rate_Scenario_3__c</field>
            <value>
                <elementReference>Get_Contact.RateScenario3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125G000001MuHzQAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SolidifyContact__c</field>
            <value>
                <elementReference>Get_Contact.SolidifyContact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject_Property_Type__c</field>
            <value>
                <elementReference>Get_Contact.Subject_Property_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_Due_Scenario_1__c</field>
            <value>
                <elementReference>Get_Contact.Term_Due_Scenario_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_Due_Scenario_2__c</field>
            <value>
                <elementReference>Get_Contact.Term_Due_Scenario_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_Due_Scenario_3__c</field>
            <value>
                <elementReference>Get_Contact.Term_Due_Scenario_3__c</elementReference>
            </value>
        </inputAssignments>
        <object>Proposal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Proposal_Lead</name>
        <label>Create Proposal-Lead</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <inputAssignments>
            <field>Borrower_Lead__c</field>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Balance__c</field>
            <value>
                <elementReference>Get_Lead.Current_Balance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Payment__c</field>
            <value>
                <elementReference>Get_Lead.Current_Payment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Program__c</field>
            <value>
                <elementReference>Get_Lead.Current_Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Rate__c</field>
            <value>
                <elementReference>Get_Lead.Current_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DownPaymentScenario1__c</field>
            <value>
                <elementReference>Get_Lead.DownPaymentScenario1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DownPaymentScenario2__c</field>
            <value>
                <elementReference>Get_Lead.DownPaymentScenario2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DownPaymentScenario3__c</field>
            <value>
                <elementReference>Get_Lead.DownPaymentScenario3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimate_Value__c</field>
            <value>
                <elementReference>Get_Lead.Estimated_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedHOAScenario1__c</field>
            <value>
                <elementReference>Get_Lead.EstimatedHOAScenario1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedHOAScenario2__c</field>
            <value>
                <elementReference>Get_Lead.EstimatedHOAScenario2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedHOAScenario3__c</field>
            <value>
                <elementReference>Get_Lead.EstimatedHOAScenario3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedInsuranceScenario1__c</field>
            <value>
                <elementReference>Get_Lead.EstimatedInsuranceScenario1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedInsuranceScenario2__c</field>
            <value>
                <elementReference>Get_Lead.EstimatedInsuranceScenario2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedInsuranceScenario3__c</field>
            <value>
                <elementReference>Get_Lead.EstimatedInsuranceScenario3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedMortgageInsuranceScenario1__c</field>
            <value>
                <elementReference>Get_Lead.EstimatedMortgageInsuranceScenario1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedMortgageInsuranceScenario2__c</field>
            <value>
                <elementReference>Get_Lead.EstimatedMortgageInsuranceScenario2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedMortgageInsuranceScenario3__c</field>
            <value>
                <elementReference>Get_Lead.EstimatedMortgageInsuranceScenario3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedTaxesScenario1__c</field>
            <value>
                <elementReference>Get_Lead.EstimatedTaxesScenario1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedTaxesScenario2__c</field>
            <value>
                <elementReference>Get_Lead.EstimatedTaxesScenario2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedTaxesScenario3__c</field>
            <value>
                <elementReference>Get_Lead.EstimatedTaxesScenario3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Value__c</field>
            <value>
                <elementReference>Get_Lead.Estimated_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Loan_Amount_Scenario_1__c</field>
            <value>
                <elementReference>Get_Lead.First_Loan_Amount_Scenario_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Loan_Amount_Scenario_2__c</field>
            <value>
                <elementReference>Get_Lead.First_Loan_Amount_Scenario_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Loan_Amount_Scenario_3__c</field>
            <value>
                <elementReference>Get_Lead.First_Loan_Amount_Scenario_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Program_Scenario_1__c</field>
            <value>
                <elementReference>Get_Lead.Loan_Program_Scenario_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Program_Scenario_2__c</field>
            <value>
                <elementReference>Get_Lead.Loan_Program_Scenario_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Program_Scenario_3__c</field>
            <value>
                <elementReference>Get_Lead.Loan_Program_Scenario_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>LeadProposalName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Units__c</field>
            <value>
                <elementReference>Get_Lead.Number_of_Units__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupancy__c</field>
            <value>
                <elementReference>Get_Lead.Occupancy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purpose_Scenario_1__c</field>
            <value>
                <elementReference>Get_Lead.Purpose_Scenario_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purpose_Scenario_2__c</field>
            <value>
                <elementReference>Get_Lead.Purpose_Scenario_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purpose_Scenario_3__c</field>
            <value>
                <elementReference>Get_Lead.Purpose_Scenario_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purpose__c</field>
            <value>
                <elementReference>Get_Lead.Purpose__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rate_Scenario_1__c</field>
            <value>
                <elementReference>Get_Lead.Rate_Scenario_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rate_Scenario_2__c</field>
            <value>
                <elementReference>Get_Lead.Rate_Scenario_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rate_Scenario_3__c</field>
            <value>
                <elementReference>Get_Lead.Rate_Scenario_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125G000001MuHzQAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SolidifyContact__c</field>
            <value>
                <elementReference>Get_Lead.SolidifyContact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject_Property_Type__c</field>
            <value>
                <elementReference>Get_Lead.Subject_Property_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_Due_Scenario_1__c</field>
            <value>
                <elementReference>Get_Lead.Term_Due__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_Due_Scenario_2__c</field>
            <value>
                <elementReference>Get_Lead.Term_Due_Scenario_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_Due_Scenario_3__c</field>
            <value>
                <elementReference>Get_Lead.Term_Due_Scenario_3__c</elementReference>
            </value>
        </inputAssignments>
        <object>Proposal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Proposal_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recordid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Proposal_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recordid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lead_or_Contact</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Recordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
