force-app/main/default/flows/Leads_All_Process_Builders_Workflow_Rules.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_New_Lead_Alert</name>
        <label>Send New Lead Alert</label>
        <locationX>204</locationX>
        <locationY>1139</locationY>
        <actionName>Lead.New_Lead_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_oFlow_Lower_My_BIlls</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.New_Lead_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_New_Lead_Alert_Email</name>
        <label>Send New Lead Alert Email</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <actionName>Lead.New_Lead_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_oFlow</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.New_Lead_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Email_Is_Changed</name>
        <label>Email Is Changed</label>
        <locationX>336</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Is_Converted_and_Property_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_Email_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Email_Changed</targetReference>
            </connector>
            <label>True, Email Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Converted_and_CoBorrower</name>
        <label>Is Converted and CoBorrower</label>
        <locationX>336</locationX>
        <locationY>2039</locationY>
        <defaultConnector>
            <targetReference>Lead_Engaged_Create_oFlow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_Is_Converted_and_CoBorrower</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CoBorrower_LastName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CoBorrower_Contact</targetReference>
            </connector>
            <label>True, Is Converted and CoBorrower</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Converted_and_Property_Details</name>
        <label>Is Converted and Property Details</label>
        <locationX>336</locationX>
        <locationY>1739</locationY>
        <defaultConnector>
            <targetReference>Is_Converted_and_CoBorrower</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_Is_Converted_and_Property_Details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject_Property_Street__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Property</targetReference>
            </connector>
            <label>True, Is Converted and Property Details</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsNew</name>
        <label>IsNew?</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Lead_Lower_My_Bills</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_External_ID_New</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Engaged_Create_oFlow</name>
        <label>Lead Engaged = Create oFlow</label>
        <locationX>336</locationX>
        <locationY>2339</locationY>
        <defaultConnector>
            <targetReference>Lead_Status_Set_Update_oFlow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Engaged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualifying</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_oFlow_Lead_Engaged</targetReference>
            </connector>
            <label>Status = Engaged</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Lower_My_Bills</name>
        <label>Lead = Lower My Bills</label>
        <locationX>336</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Email_Is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lower_My_Bills_Lead</name>
            <conditionLogic>1 AND 5 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualifying</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refily</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lower My Bills</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Its Home</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_New_Lead_Alert</targetReference>
            </connector>
            <label>Lower My Bills Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Source_Lower_My_Bills</name>
        <label>Lead Source = Lower My Bills</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Lead_Lower_My_Bills</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_Lead_Source_Lower_My_Bills</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Qualifying</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Lower My Bills</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Refily</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Its Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_New_Lead_Alert_Email</targetReference>
            </connector>
            <label>True, Lead Source = Lower My Bills</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Status_Set_Update_oFlow</name>
        <label>Lead Status Set, Update oFlow</label>
        <locationX>336</locationX>
        <locationY>2639</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Status_Qualifying</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualifying</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_oFlow_Qualifying</targetReference>
            </connector>
            <label>Lead Status = Qualifying</label>
        </rules>
        <rules>
            <name>Lead_Status_Proposal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_oFlow_Proposal</targetReference>
            </connector>
            <label>Lead Status = Proposal</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Formula_IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <formulas>
        <name>Formula_Lead_Subject</name>
        <dataType>String</dataType>
        <expression>{!$Record.FirstName} + &quot; &quot; + {!$Record.LastName}</expression>
    </formulas>
    <formulas>
        <name>Formula_Property_Name</name>
        <dataType>String</dataType>
        <expression>&quot;$Record.Subject_Property_Street__c&quot; + &quot; &quot; + &quot;$Record.Subject_Property_City__c&quot;</expression>
    </formulas>
    <formulas>
        <name>Formula_Today</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <name>Formula_Today_Plus_3</name>
        <dataType>Date</dataType>
        <expression>Today() + 3</expression>
    </formulas>
    <interviewLabel>Leads - All Process Builders + Workflows {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Leads - All Process Builders + Workflow Rules</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_CoBorrower_Contact</name>
        <label>Create CoBorrower Contact</label>
        <locationX>204</locationX>
        <locationY>2147</locationY>
        <connector>
            <targetReference>Lead_Engaged_Create_oFlow</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Phone__c</field>
            <value>
                <elementReference>$Record.CoBorrower_Business_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.CoBorrower_FirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home_Phone__c</field>
            <value>
                <elementReference>$Record.CoBorrower_Home_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Income_Sources__c</field>
            <value>
                <elementReference>$Record.CoBorrower_Income_Sources__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Income__c</field>
            <value>
                <elementReference>$Record.CoBorrower_Est_Income__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.CoBorrower_LastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.CoBorrower_Mobile__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_by__c</field>
            <value>
                <elementReference>$Record.Referred_By__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Co-Borrower</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Veteran__c</field>
            <value>
                <elementReference>$Record.CoBorrower_Veteran__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Property</name>
        <label>Create New Property</label>
        <locationX>204</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>Is_Converted_and_CoBorrower</targetReference>
        </connector>
        <inputAssignments>
            <field>Household__c</field>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Formula_Property_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_City__c</field>
            <value>
                <elementReference>$Record.Subject_Property_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_County__c</field>
            <value>
                <elementReference>$Record.Subject_Property_County__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_State__c</field>
            <value>
                <elementReference>$Record.Subject_Property_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Street__c</field>
            <value>
                <elementReference>$Record.Subject_Property_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Type__c</field>
            <value>
                <elementReference>$Record.Subject_Property_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Zip__c</field>
            <value>
                <elementReference>$Record.Subject_Property_Zip__c</elementReference>
            </value>
        </inputAssignments>
        <object>Properties__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_oFlow</name>
        <label>Create oFlow</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Lead_Lower_My_Bills</targetReference>
        </connector>
        <inputAssignments>
            <field>Followup_Date__c</field>
            <value>
                <elementReference>Formula_Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_oFlow_Lead_Engaged</name>
        <label>Create oFlow - Lead Engaged</label>
        <locationX>204</locationX>
        <locationY>2447</locationY>
        <connector>
            <targetReference>Lead_Status_Set_Update_oFlow</targetReference>
        </connector>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Qualifying</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Formula_Lead_Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_oFlow_Lower_My_BIlls</name>
        <label>Create oFlow, Lower My BIlls</label>
        <locationX>204</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Email_Is_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Followup_Date__c</field>
            <value>
                <elementReference>Formula_Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Email_Changed</name>
        <label>Update Email (Changed)</label>
        <locationX>204</locationX>
        <locationY>1547</locationY>
        <connector>
            <targetReference>Is_Converted_and_Property_Details</targetReference>
        </connector>
        <inputAssignments>
            <field>Email_External_Id__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Sets Email External ID to Leads.Email and Convert By to Today + 3</description>
        <name>Update_External_ID_New</name>
        <label>Update External ID (New)</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Lead_Source_Lower_My_Bills</targetReference>
        </connector>
        <inputAssignments>
            <field>Convert_By__c</field>
            <value>
                <elementReference>Formula_Today_Plus_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_External_Id__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_oFlow_Proposal</name>
        <label>Update oFlow =Proposal</label>
        <locationX>336</locationX>
        <locationY>2747</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Proposal</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Cases__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_oFlow_Qualifying</name>
        <label>Update oFlow = Qualifying</label>
        <locationX>72</locationX>
        <locationY>2747</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Qualifying</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Cases__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsNew</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
