force-app/main/default/flows/Loan_All_Processes_Workflow_Rules.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Loan_Originator_Change_Alert</name>
        <label>Send Loan Originator Change Alert</label>
        <locationX>974</locationX>
        <locationY>1931</locationY>
        <actionName>Opportunity.Loan_Originator_Change_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Transfer_Referred_By_to_Account</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Loan_Originator_Change_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>CoBorrower_Not_Null</name>
        <label>CoBorrower Not Null</label>
        <locationX>952</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>PointFile_Name_is_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_CoBorrower_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CoBorrower_Record__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CoBorrower_OCR</targetReference>
            </connector>
            <label>True, CoBorrower Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New</name>
        <label>Is New</label>
        <locationX>1106</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Team_Alerts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_Is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_Is_New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_oFlow_ID</targetReference>
            </connector>
            <label>True, Is New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Loan_Amont_with_MIP_or_FF_NOT_Null</name>
        <label>Loan Amont with MIP or FF NOT Null</label>
        <locationX>952</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>New_Loan_Borrower_Not_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Loan_Amont_with_MIP_FF_NOT_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Loan_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Loan_Amount_with_Amount</targetReference>
            </connector>
            <label>Loan Amont with MIP or FF NOT Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Loan_Stage_Updates_oFlow</name>
        <label>Loan Stage Updates oFlow</label>
        <locationX>1106</locationX>
        <locationY>2423</locationY>
        <defaultConnector>
            <targetReference>Stage_Changes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lock_Expiration_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lock_Expiration__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_oFlow_Active_Lock</targetReference>
            </connector>
            <label>Lock Expiration = Not Blank</label>
        </rules>
        <rules>
            <name>COE_with_No_Lender</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.COE__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lender__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_oFlow_Place</targetReference>
            </connector>
            <label>COE with No Lender</label>
        </rules>
        <rules>
            <name>Lender_with_No_Lock_Expiration</name>
            <conditionLogic>1 AND 2 AND (NOT 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lender__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lock_Expiration__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject_Prop_Street__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>TBD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_oFlow_Lock</targetReference>
            </connector>
            <label>Lender with No Lock Expiration</label>
        </rules>
        <rules>
            <name>Loan_Stage_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_oFlow_Requested_Setup</targetReference>
            </connector>
            <label>Loan Stage = Requested</label>
        </rules>
        <rules>
            <name>Loan_Stage_Reviewed_TBD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reviewed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject_Prop_Street__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>TBD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_oFlow_Reviewed</targetReference>
            </connector>
            <label>Loan Stage = Reviewed &amp; TBD</label>
        </rules>
        <rules>
            <name>Loan_Stage_Reviewed_Not_TBD</name>
            <conditionLogic>1 AND NOT 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reviewed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject_Prop_Street__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>TBD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_oFlow_Place1</targetReference>
            </connector>
            <label>Loan Stage = Reviewed &amp; Not TBD</label>
        </rules>
        <rules>
            <name>TBD_Pre_Approved_to_CTC</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject_Prop_Street__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>TBD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent to Processing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clear to Close</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_oFlow_House_Hunting</targetReference>
            </connector>
            <label>TBD Pre-Approved to CTC</label>
        </rules>
        <rules>
            <name>Files_Which_Don_t_Meet_Any_of_The_Above</name>
            <conditionLogic>NOT 1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject_Prop_Street__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>TBD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent to Processing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clear to Close</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_oFlow_Lock1</targetReference>
            </connector>
            <label>Files Which Don&apos;t Meet Any of The Above</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Loan_Borrower_Not_Null</name>
        <label>New Loan Borrower, Not Null</label>
        <locationX>952</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>CoBorrower_Not_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_New_Loan_Borrower_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Borrower_Record__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Borrower_OCR</targetReference>
            </connector>
            <label>True, New Loan Borrower, Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Team_Alerts</name>
        <label>Opportunity Team Alerts</label>
        <locationX>1106</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>Transfer_Referred_By_to_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Loan_Originator_Changed_not_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Loan_Originator_User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Loan_Originator_User__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Loan_Originator_User__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Loan_Originator_Change_Alert</targetReference>
            </connector>
            <label>Loan Originator Changed, not Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>PointFile_Name_is_Null</name>
        <label>PointFile Name is Null</label>
        <locationX>952</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Team_Alerts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_PointFile_Name_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Point_Filename__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Point_File_Name</targetReference>
            </connector>
            <label>True, PointFile Name is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_Changes</name>
        <label>Stage Changes</label>
        <locationX>1106</locationX>
        <locationY>2723</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_Changed_to_Application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Date_of_Application_to_Today</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Stage Changed to Application</label>
        </rules>
        <rules>
            <name>Stage_Changed_to_CTC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cleared to Close</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Date_of_Clear_to_Close</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Stage Changed to CTC</label>
        </rules>
        <rules>
            <name>Stage_Changed_to_Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Date_of_Submitted</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Stage Changed to Submitted</label>
        </rules>
        <rules>
            <name>Stage_Changed_to_Sent_to_Processing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent to Processing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Date_of_Sent_to_Processing</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Stage Changed to Sent to Processing</label>
        </rules>
        <rules>
            <name>Stage_Changed_to_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Approved_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Stage Changed to Approved</label>
        </rules>
        <rules>
            <name>Stage_Changed_to_Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Closed_Won_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Stage Changed to Closed Won</label>
        </rules>
        <rules>
            <name>Stage_Changed_From_Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Closed_Won_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Stage Changed From Closed Won</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transfer_Referred_By_to_Account</name>
        <label>Transfer Referred By to Account</label>
        <locationX>1106</locationX>
        <locationY>2123</locationY>
        <defaultConnector>
            <targetReference>Loan_Stage_Updates_oFlow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Referred_By_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Referred_By__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Referred_By__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Household_Referred_By</targetReference>
            </connector>
            <label>Referred By Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Formula_Is_New</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <formulas>
        <name>Formula_IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <formulas>
        <name>Formula_Loan_Amount_Currency_Update</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Amount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Formula_Loan_ID</name>
        <dataType>String</dataType>
        <expression>{!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>Formula_Null_Date</name>
        <dataType>Date</dataType>
        <expression>NULL</expression>
    </formulas>
    <formulas>
        <name>Formula_Today</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Loan - All Processes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loan - All Processes + Workflow Rules</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Borrower_OCR</name>
        <label>Create Borrower OCR</label>
        <locationX>820</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>CoBorrower_Not_Null</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Borrower_Record__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Borrower</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CoBorrower_OCR</name>
        <label>Create CoBorrower OCR</label>
        <locationX>820</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>PointFile_Name_is_Null</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.CoBorrower_Record__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Co-Borrower</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_oFlow_ID</name>
        <label>Create oFlow ID</label>
        <locationX>952</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Loan_Amont_with_MIP_or_FF_NOT_Null</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Clear_Closed_Won_Date</name>
        <label>Clear Closed Won Date</label>
        <locationX>1766</locationX>
        <locationY>2831</locationY>
        <inputAssignments>
            <field>Date_Closed_Won__c</field>
            <value>
                <elementReference>Formula_Null_Date</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approved_Date</name>
        <label>Update Approved Date</label>
        <locationX>1238</locationX>
        <locationY>2831</locationY>
        <inputAssignments>
            <field>Date_Approved__c</field>
            <value>
                <elementReference>Formula_Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Closed_Won_Date</name>
        <label>Update Closed Won Date</label>
        <locationX>1502</locationX>
        <locationY>2831</locationY>
        <inputAssignments>
            <field>Date_Closed_Won__c</field>
            <value>
                <elementReference>Formula_Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Date_of_Application_to_Today</name>
        <label>Update Date of Application to Today</label>
        <locationX>182</locationX>
        <locationY>2831</locationY>
        <inputAssignments>
            <field>Date_of_Application__c</field>
            <value>
                <elementReference>Formula_Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Date_of_Clear_to_Close</name>
        <label>Update Date of Clear to Close</label>
        <locationX>446</locationX>
        <locationY>2831</locationY>
        <inputAssignments>
            <field>Date_CTC__c</field>
            <value>
                <elementReference>Formula_Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Date_of_Sent_to_Processing</name>
        <label>Update Date of Sent to Processing</label>
        <locationX>974</locationX>
        <locationY>2831</locationY>
        <inputAssignments>
            <field>Date_Sent_to_Processing__c</field>
            <value>
                <elementReference>Formula_Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Date_of_Submitted</name>
        <label>Update Date of Submitted</label>
        <locationX>710</locationX>
        <locationY>2831</locationY>
        <inputAssignments>
            <field>Date_Submitted__c</field>
            <value>
                <elementReference>Formula_Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Household_Referred_By</name>
        <label>Update Household Referred By</label>
        <locationX>974</locationX>
        <locationY>2231</locationY>
        <connector>
            <targetReference>Loan_Stage_Updates_oFlow</targetReference>
        </connector>
        <inputAssignments>
            <field>Referred_By__c</field>
            <value>
                <elementReference>$Record.Referred_By__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Loan_Amount_with_Amount</name>
        <label>Update Loan Amount with Amount</label>
        <locationX>820</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>New_Loan_Borrower_Not_Null</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_oFlow_Active_Lock</name>
        <label>Update oFlow = Active Lock</label>
        <locationX>50</locationX>
        <locationY>2531</locationY>
        <connector>
            <targetReference>Stage_Changes</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active Locked</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Cases__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_oFlow_House_Hunting</name>
        <label>Update oFlow = House Hunting</label>
        <locationX>1634</locationX>
        <locationY>2531</locationY>
        <connector>
            <targetReference>Stage_Changes</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>House Hunting</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Cases__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_oFlow_Lock</name>
        <label>Update oFlow = Lock</label>
        <locationX>578</locationX>
        <locationY>2531</locationY>
        <connector>
            <targetReference>Stage_Changes</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Lock</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Cases__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_oFlow_Lock1</name>
        <label>Update oFlow = Lock</label>
        <locationX>1898</locationX>
        <locationY>2531</locationY>
        <connector>
            <targetReference>Stage_Changes</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Lock</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Cases__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_oFlow_Place</name>
        <label>Update oFlow = Place</label>
        <locationX>314</locationX>
        <locationY>2531</locationY>
        <connector>
            <targetReference>Stage_Changes</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Place</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Cases__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_oFlow_Place1</name>
        <label>Update oFlow = Place</label>
        <locationX>1370</locationX>
        <locationY>2531</locationY>
        <connector>
            <targetReference>Stage_Changes</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Place</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Cases__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_oFlow_Requested_Setup</name>
        <label>Update oFlow = Requested (Setup)</label>
        <locationX>842</locationX>
        <locationY>2531</locationY>
        <connector>
            <targetReference>Stage_Changes</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Cases__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_oFlow_Reviewed</name>
        <label>Update oFlow = Reviewed</label>
        <locationX>1106</locationX>
        <locationY>2531</locationY>
        <connector>
            <targetReference>Stage_Changes</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pre-Approve</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Cases__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Point_File_Name</name>
        <label>Update Point File Name</label>
        <locationX>820</locationX>
        <locationY>1547</locationY>
        <connector>
            <targetReference>Opportunity_Team_Alerts</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity_Identifier__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Point_Filename__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_New</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
