force-app/main/default/flows/Loan_Fridays_9am.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>COE_Blank_Purpose_Purchase_Subject_State_AZ_Stage_Open</name>
        <label>COE != Blank, Purpose = Purchase, Subject State = AZ, Stage = Open</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_COE_Blank_Purpose_Purchase_Subject_State_AZ_Stage_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.COE__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Purpose__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Purchase</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject_Prop_St__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AZ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Formula_Open_Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_Send_LSU_to_Agents</targetReference>
            </connector>
            <label>True, COE != Blank, Purpose = Purchase, Subject State = AZ, Stage = Open</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Formula_Assign_LO_OR_LOA</name>
        <dataType>String</dataType>
        <expression>IF(
  OR(
    {!$Record.OwnerId} = &quot;005f4000000ZZuGAAW&quot;,
    {!$Record.OwnerId} = &quot;005f4000000b5EmAAI&quot;
  ),
  &quot;005Pe00000AHahFIAT&quot;,
  IF(
    OR(
      {!$Record.OwnerId} = &quot;005f4000004e45HAAQ&quot;,
      {!$Record.OwnerId} = &quot;005Pe00000ALiTJIA1&quot;,
      {!$Record.OwnerId} = &quot;005Pe000009FTEDIA4&quot;
    ),
    &quot;0055G000008sStAQAU&quot;,
    {!$Record.OwnerId}
  )
)</expression>
    </formulas>
    <formulas>
        <name>Formula_Open_Stage</name>
        <dataType>Boolean</dataType>
        <expression>CASE(
    {!$Record.StageName},
    &quot;New&quot;, 1,
    &quot;Qualifying&quot;, 1,
    &quot;Proposal&quot;, 1,
    &quot;Nurturing&quot;, 1,
    &quot;Prospect&quot;, 1,
    &quot;Requested&quot;, 1,
    &quot;Reviewed&quot;, 1,
    &quot;File Started&quot;, 1,
    &quot;Docs Requested&quot;, 1,
    &quot;Docs Received&quot;, 1,
    &quot;Qualified&quot;, 1,
    &quot;Pre-approved&quot;, 1,
    &quot;Application&quot;, 1,
    &quot;Sent to Processing&quot;, 1,
    &quot;Submitted&quot;, 1,
    &quot;Approved&quot;, 1,
    &quot;Clear to Close&quot;, 1,
    &quot;Cleared to Close&quot;, 1,
    &quot;Docs Out&quot;, 1,
    &quot;Funded&quot;, 1,
    0
) = 1</expression>
    </formulas>
    <formulas>
        <name>Formula_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Loan - Fridays @ 9am {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loan - Fridays @ 9am</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_Send_LSU_to_Agents</name>
        <label>Create Task - Send LSU to Agents</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Formula_Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Send Loan Status Update (LSU) to Agents</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Formula_Assign_LO_OR_LOA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Send LSU to Agents</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>COE_Blank_Purpose_Purchase_Subject_State_AZ_Stage_Open</targetReference>
        </connector>
        <object>Opportunity</object>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2025-06-06</startDate>
            <startTime>09:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
