force-app/main/default/flows/Loan_Stale_Dormant_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Send_Stale_Dormant_Email_Alert_Sent_to_Processing_45</name>
        <label>Copy 1 of Send Stale/Dormant Email Alert - Sent to Processing + 45</label>
        <locationX>314</locationX>
        <locationY>468</locationY>
        <actionName>Opportunity.Stale_Dormant_Loan_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Stale_Dormant_Loan_Email_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Send_Stale_Dormant_Email_Alert_Sent_to_Processing_45</name>
        <label>Copy 2 of Send Stale/Dormant Email Alert - Sent to Processing + 45</label>
        <locationX>578</locationX>
        <locationY>468</locationY>
        <actionName>Opportunity.Stale_Dormant_Loan_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Stale_Dormant_Loan_Email_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_3_of_Send_Stale_Dormant_Email_Alert_Sent_to_Processing_45</name>
        <label>Copy 3 of Send Stale/Dormant Email Alert - Sent to Processing + 45</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <actionName>Opportunity.Stale_Dormant_Loan_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Stale_Dormant_Loan_Email_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Stale_Dormant_Email_Alert_Sent_to_Processing_45</name>
        <label>Send Stale/Dormant Email Alert - Sent to Processing + 45</label>
        <locationX>842</locationX>
        <locationY>468</locationY>
        <actionName>Opportunity.Stale_Dormant_Loan_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Stale_Dormant_Loan_Email_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Stage_Pipeline_Management_Decision</name>
        <label>Stage Pipeline Management Decision</label>
        <locationX>974</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Doc_Requested_48_Hours</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Docs Requested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status_Change_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Formula_Today_Minus_Two_Days</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Hold_Until__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Hold_Until__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Formula_Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Send_Stale_Dormant_Email_Alert_Sent_to_Processing_45</targetReference>
            </connector>
            <label>Doc Requested + 48 Hours</label>
        </rules>
        <rules>
            <name>Docs_Received_24_Hours</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Docs Received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status_Change_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Formula_Today_Minus_One_Day</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Hold_Until__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Hold_Until__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Formula_Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Send_Stale_Dormant_Email_Alert_Sent_to_Processing_45</targetReference>
            </connector>
            <label>Docs Received + 24 Hours</label>
        </rules>
        <rules>
            <name>Qualified_48_Hours</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status_Change_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Formula_Today_Minus_Two_Days</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Hold_Until__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Hold_Until__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Formula_Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Send_Stale_Dormant_Email_Alert_Sent_to_Processing_45</targetReference>
            </connector>
            <label>Qualified + 48 Hours</label>
        </rules>
        <rules>
            <name>Sent_to_Processing_48_Hours</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent to Processing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status_Change_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Formula_Today_Minus_Two_Days</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Hold_Until__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Hold_Until__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Formula_Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Stale_Dormant_Email_Alert_Sent_to_Processing_45</targetReference>
            </connector>
            <label>Sent to Processing + 48 Hours</label>
        </rules>
        <rules>
            <name>X30_Day_Dormant_Reminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_Change_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Formula_Today_Minus_30</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_30_Day_Dormant_Task</targetReference>
            </connector>
            <label>30 Day Dormant Reminder</label>
        </rules>
        <rules>
            <name>X90_Day_Dormant_Reminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_Change_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Formula_Today_Minus_90</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_90_Day_Dormant_Task</targetReference>
            </connector>
            <label>90 Day Dormant Reminder</label>
        </rules>
        <rules>
            <name>X180_Day_Dormant_Reminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_Change_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Formula_Today_Minus_180</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_180_Day_Dormant_Task</targetReference>
            </connector>
            <label>180 Day Dormant Reminder</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Formula_Dormant_Loan_Task_Subject</name>
        <dataType>String</dataType>
        <expression>&quot;Close Out Loan: &quot; + &quot;Get_Loan_Record.Name&quot;</expression>
    </formulas>
    <formulas>
        <name>Formula_Stale_Loan_Task_Subject</name>
        <dataType>String</dataType>
        <expression>&quot;Move Stale Loan Forward: &quot; + &quot;$Record.Name&quot;</expression>
    </formulas>
    <formulas>
        <name>Formula_Today</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <name>Formula_Today_Minus_180</name>
        <dataType>Date</dataType>
        <expression>Today() - 180</expression>
    </formulas>
    <formulas>
        <name>Formula_Today_Minus_30</name>
        <dataType>Date</dataType>
        <expression>Today() - 30</expression>
    </formulas>
    <formulas>
        <name>Formula_Today_Minus_45</name>
        <dataType>Date</dataType>
        <expression>Today() - 45</expression>
    </formulas>
    <formulas>
        <name>Formula_Today_Minus_90</name>
        <dataType>Date</dataType>
        <expression>Today() - 90</expression>
    </formulas>
    <formulas>
        <name>Formula_Today_Minus_One_Day</name>
        <dataType>Date</dataType>
        <expression>Today() - 1</expression>
    </formulas>
    <formulas>
        <name>Formula_Today_Minus_Two_Days</name>
        <dataType>Date</dataType>
        <expression>Today() - 2</expression>
    </formulas>
    <formulas>
        <name>Formula_Today_Plus_1</name>
        <dataType>Date</dataType>
        <expression>Today() + 1</expression>
    </formulas>
    <interviewLabel>Loan - Stale/Dormant Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loan - Stale/Dormant Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_180_Day_Dormant_Task</name>
        <label>Create 180 Day Dormant Task</label>
        <locationX>1634</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Formula_Today_Plus_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Formula_Dormant_Loan_Task_Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_30_Day_Dormant_Task</name>
        <label>Create 30 Day Dormant Task</label>
        <locationX>1106</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Formula_Today_Plus_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Formula_Dormant_Loan_Task_Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_90_Day_Dormant_Task</name>
        <label>Create 90 Day Dormant Task</label>
        <locationX>1370</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Formula_Today_Plus_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Formula_Dormant_Loan_Task_Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Loan_Record</name>
        <label>Get Loan Record</label>
        <locationX>974</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stage_Pipeline_Management_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Loan_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Elsewhere</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inquiry Expired (Qualifying)</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inquiry Expired (Rates)</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inquiry Expired (Incompleteness)</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Referred Out</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inquiry Expired - Point</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-03-06</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
