force-app/main/default/flows/Lock_Expiration_HTML_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_sendEmail</name>
        <label>Copy 1 of Copy 1 of sendEmail</label>
        <locationX>578</locationX>
        <locationY>408</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyText3</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>emailCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Lock Expiration Today</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_sendEmail</name>
        <label>Copy 1 of sendEmail</label>
        <locationX>314</locationX>
        <locationY>408</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyText2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>emailCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>1 Day Until Lock Expiration</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>sendEmail</name>
        <label>sendEmail</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>emailCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>10 Days Until Lock Expiration</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Email_to_Collection</name>
        <label>Add Email to Collection</label>
        <locationX>50</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>emailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Loan_Processor_User__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_Email_to_Collection</name>
        <label>Copy 1 of Add Email to Collection</label>
        <locationX>314</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>emailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Loan_Processor_User__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_sendEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Add_Email_to_Collection</name>
        <label>Copy 2 of Add Email to Collection</label>
        <locationX>578</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>emailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Loan_Processor_User__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_sendEmail</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Lock Expiration HTML Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lock Expiration HTML Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lock_Expiration__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X10_Days</name>
            <connector>
                <targetReference>Add_Email_to_Collection</targetReference>
            </connector>
            <label>10 Days</label>
            <offsetNumber>-240</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>X8amExpiration__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X1_Day_Before</name>
            <connector>
                <targetReference>Copy_1_of_Add_Email_to_Collection</targetReference>
            </connector>
            <label>1 Day Before</label>
            <offsetNumber>-24</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>X8amExpiration__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Day_Of</name>
            <connector>
                <targetReference>Copy_2_of_Add_Email_to_Collection</targetReference>
            </connector>
            <label>Day Of</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>X8amExpiration__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>bodyText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 8px;&quot;&gt;&lt;img src=&quot;https://uploads-ssl.webflow.com/639901af1d5ae99e904a3b07/6399066a6d1188523c915cdd_solidify.png&quot; alt=&quot;&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;h1 style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;&lt;u&gt;Lock Expiring in 10 Days!&lt;/u&gt;&lt;/strong&gt;&lt;/h1&gt;&lt;h1&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Hi {!$Record.Owner.FirstName},&lt;/span&gt;&lt;/h1&gt;&lt;h1&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Just a heads up, the lock expiration for:&lt;/span&gt;&lt;/h1&gt;&lt;h1&gt;&lt;a href=&quot;https://solidify.lightning.force.com/{!$Record.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 18px;&quot;&gt;&lt;em&gt;{!$Record.Name}&lt;/em&gt;&lt;/a&gt;&lt;a href=&quot;https://solidify.lightning.force.com/{!$Record.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt; - &lt;/a&gt;&lt;a href=&quot;https://solidify.lightning.force.com/{!$Record.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 18px;&quot;&gt;{!$Record.Household_Name__c}&lt;/a&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;...&lt;/span&gt;&lt;/h1&gt;&lt;h1&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;expires in &lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;10 Days&lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;!&lt;/span&gt;&lt;/h1&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://uploads-ssl.webflow.com/639901af1d5ae99e904a3b07/6399094f6d11884cdf919023_solidify2.jpeg&quot;  width= &quot;100&quot; height= &quot;100&quot;  alt=&quot;&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>bodyText2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://uploads-ssl.webflow.com/639901af1d5ae99e904a3b07/6399066a6d1188523c915cdd_solidify.png&quot; alt=&quot;&quot;&gt;&lt;/p&gt;&lt;h1 style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;&lt;u&gt;Lock Expiring in 1 Day!&lt;/u&gt;&lt;/strong&gt;&lt;/h1&gt;&lt;h1&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Hi {!$Record.Owner.FirstName},&lt;/span&gt;&lt;/h1&gt;&lt;h1&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Just a heads up, the lock expiration for:&lt;/span&gt;&lt;/h1&gt;&lt;h1&gt;&lt;a href=&quot;https://solidify.lightning.force.com/{!$Record.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 18px;&quot;&gt;&lt;em&gt;{!$Record.Name}&lt;/em&gt;&lt;/a&gt;&lt;a href=&quot;https://solidify.lightning.force.com/{!$Record.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt; - &lt;/a&gt;&lt;a href=&quot;https://solidify.lightning.force.com/{!$Record.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 18px;&quot;&gt;{!$Record.Household_Name__c}&lt;/a&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;...&lt;/span&gt;&lt;/h1&gt;&lt;h1&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;expires in &lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;1 Day&lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;!&lt;/span&gt;&lt;/h1&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://uploads-ssl.webflow.com/639901af1d5ae99e904a3b07/6399094f6d11884cdf919023_solidify2.jpeg&quot; width= &quot;100&quot; height= &quot;100&quot;   alt=&quot;&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>bodyText3</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://uploads-ssl.webflow.com/639901af1d5ae99e904a3b07/6399066a6d1188523c915cdd_solidify.png&quot; alt=&quot;&quot;&gt;&lt;/p&gt;&lt;h1 style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;&lt;u&gt;Lock Expiring Today!&lt;/u&gt;&lt;/strong&gt;&lt;/h1&gt;&lt;h1&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Hi {!$Record.Owner.FirstName},&lt;/span&gt;&lt;/h1&gt;&lt;h1&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Just a heads up, the lock expiration for:&lt;/span&gt;&lt;/h1&gt;&lt;h1&gt;&lt;a href=&quot;https://solidify.lightning.force.com/{!$Record.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 18px;&quot;&gt;&lt;em&gt;{!$Record.Name} - &lt;/em&gt;{!$Record.Household_Name__c}&lt;/a&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;...&lt;/span&gt;&lt;/h1&gt;&lt;h1&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;expires &lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Today!&lt;/strong&gt;&lt;/h1&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://uploads-ssl.webflow.com/639901af1d5ae99e904a3b07/6399094f6d11884cdf919023_solidify2.jpeg&quot;  width= &quot;100&quot; height= &quot;100&quot;  alt=&quot;&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>emailCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
