force-app/main/default/flows/New_Refi_Proposal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assignVariables</name>
        <label>assignVariables</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>sObjectFromButton</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppContactRole.Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppContactRole.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppContactRole.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppContactRole.Opportunity.Subject_Property_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordIdFromButton</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppContactRole.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppContactRole.Opportunity.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjectFromButton</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Proposal_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OCR_RecordId</name>
        <label>OCR RecordId</label>
        <locationX>264</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>OCRId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OCR_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_OCR_Records</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>New Refi Proposal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Refi Proposal from OCR</label>
    <loops>
        <name>Loop_OCR_Records</name>
        <label>Loop OCR Records</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <collectionReference>records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>OCR_RecordId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>OppContactRole</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>OppContactRole</name>
        <label>OppContactRole</label>
        <locationX>176</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignVariables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OCRId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>New_Proposal_Screen</name>
        <label>New Proposal Screen</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NewProposal</name>
            <extensionName>c:solidify_newProposal</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordIdFromButton</name>
                <value>
                    <elementReference>recordIdFromButton</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sObjectFromButton</name>
                <value>
                    <elementReference>sObjectFromButton</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactId</name>
                <value>
                    <elementReference>contactId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>propertyId</name>
                <value>
                    <elementReference>propertyId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordName</name>
                <value>
                    <elementReference>recordName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_OCR_Records</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>errorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>loanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OCRId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>propertyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordIdFromButton</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>sObjectFromButton</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>successMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
