force-app/main/default/flows/New_Client_Gift_Refi.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>LDW_0</name>
        <label>LDW?</label>
        <locationX>182</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lender__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LDW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_120_Day_Follow_Up</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lender_2</name>
        <label>Lender 2</label>
        <locationX>622</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lender__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LDW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_120_Day_Follow_Up_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>Subject120</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name}&amp;&quot; - 120 Day Follow Up&quot;</expression>
    </formulas>
    <formulas>
        <name>Subject150</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name}&amp;&quot; - 150 Day Follow Up&quot;</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <interviewLabel>New Client Gift - Refi {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Client Gift - Refi</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_120_Day_Follow_Up</name>
        <label>Create 120 Day Follow Up</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject120</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_120_Day_Follow_Up_0</name>
        <label>Create 120 Day Follow Up</label>
        <locationX>490</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject120</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_120_Day_Follow_Up_0_0</name>
        <label>Create 120 Day Follow Up</label>
        <locationX>930</locationX>
        <locationY>288</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject120</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsWon</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LeadSource</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Repeat Client</stringValue>
            </value>
        </filters>
        <filters>
            <field>Purpose__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Purch</stringValue>
            </value>
        </filters>
        <filters>
            <field>Purpose__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Purchase</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X1_Hour_After</name>
            <label>1 Hour After</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X5_Days_Before_1st_Payment_Date</name>
            <label>5 Days Before 1st Payment Date</label>
            <offsetNumber>-5</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>First_Payment__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X120_Days_After_Close</name>
            <connector>
                <targetReference>LDW_0</targetReference>
            </connector>
            <label>120 Days After Close</label>
            <offsetNumber>120</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Closed_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X150_Days_After_Close</name>
            <connector>
                <targetReference>Lender_2</targetReference>
            </connector>
            <label>150 Days After Close</label>
            <offsetNumber>150</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Closed_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X180_Days_After</name>
            <connector>
                <targetReference>Create_120_Day_Follow_Up_0_0</targetReference>
            </connector>
            <label>180 Days After</label>
            <offsetNumber>180</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Closed_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X365_Days_After</name>
            <label>365 Days After</label>
            <offsetNumber>365</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Closed_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
