force-app/main/default/flows/OpportunityBeforeUpdates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Processor_User</name>
        <label>Check Processor User</label>
        <locationX>182</locationX>
        <locationY>1427</locationY>
        <defaultConnector>
            <targetReference>Encompass_LO_Is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Processor_User_by_Name.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_User_Update</targetReference>
            </connector>
            <label>User Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>CO_LO_is_Assigned</name>
        <label>CO-LO is Assigned</label>
        <locationX>468</locationX>
        <locationY>2627</locationY>
        <defaultConnector>
            <targetReference>Owner_Decisions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Co-LO</defaultConnectorLabel>
        <rules>
            <name>CO_LO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Co_Loan_Originator__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CoLO_User</targetReference>
            </connector>
            <label>CO-LO</label>
        </rules>
    </decisions>
    <decisions>
        <name>CO_LO_User_Found</name>
        <label>CO-LO User Found</label>
        <locationX>292</locationX>
        <locationY>2843</locationY>
        <defaultConnector>
            <targetReference>Get_Point_User_Mapping_for_CO_LO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No User for Co-LO</defaultConnectorLabel>
        <rules>
            <name>CO_LO_Is_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CoLoUserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Decisions</targetReference>
            </connector>
            <label>CO-LO Is Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Encompass_LO_Is_Changed</name>
        <label>Encompass LO or CoLO Is Changed</label>
        <locationX>468</locationX>
        <locationY>1811</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Encompass_LO_Changed</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Loan_Originator_Encompass__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Loan_Originator_Encompass__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Co_Loan_Originator__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Co_Loan_Originator__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Loan_Originator__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Loan_Originator__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Loan_Originator_User</targetReference>
            </connector>
            <label>Encompass LO OR CoLO Changed</label>
        </rules>
        <rules>
            <name>IsNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Loan_Originator_User</targetReference>
            </connector>
            <label>IsNew</label>
        </rules>
    </decisions>
    <decisions>
        <name>Loan_is_Closed</name>
        <label>Loan is Closed</label>
        <locationX>468</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Loan_Processor_is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CloseDate</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Loan_Originator_User_Found</name>
        <label>Loan Originator User Found</label>
        <locationX>468</locationX>
        <locationY>2219</locationY>
        <defaultConnector>
            <targetReference>Get_Dusty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User Found</defaultConnectorLabel>
        <rules>
            <name>User_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OriginatorUserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Point_User_LO</targetReference>
            </connector>
            <label>LO_User Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Loan_Processor_is_Changed</name>
        <label>Loan Processor is Changed</label>
        <locationX>468</locationX>
        <locationY>1211</locationY>
        <defaultConnector>
            <targetReference>Encompass_LO_Is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Processor_User</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Loan_Processor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Loan_Processor_User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Loan_Processor__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Processor_User_by_Name</targetReference>
            </connector>
            <label>UpdateProcessor User</label>
        </rules>
        <rules>
            <name>Remove_Processor_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Loan_Processor_User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Loan_Processor_User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Processor_User_Update</targetReference>
            </connector>
            <label>Remove Processor User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Decisions</name>
        <label>Owner Decisions</label>
        <locationX>468</locationX>
        <locationY>3227</locationY>
        <defaultConnector>
            <targetReference>Add_Owner_LO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>LO User Found</defaultConnectorLabel>
        <rules>
            <name>LO_User_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OriginatorUserId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DustyUserId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CoLoUserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CoLO_Owner</targetReference>
            </connector>
            <label>LO User Is Dusty &amp; CoLO Not Null</label>
        </rules>
        <rules>
            <name>LO_User_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OriginatorUserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Dusty_as_Owner</targetReference>
            </connector>
            <label>LO User Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_IsChanged</name>
        <label>Stage IsChanged</label>
        <locationX>468</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Update_Stage_From_Milestone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_IsChanged_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loan_is_Closed</targetReference>
            </connector>
            <label>Stage IsChanged True</label>
        </rules>
    </decisions>
    <description>Add stage from encompass milestone, assign LO/Owner, Copy Interest Rate from new to legacy field</description>
    <environments>Default</environments>
    <formulas>
        <name>RecordOwnerFullName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Owner.FirstName} + &apos; &apos; + {!$Record.Owner.LastName}</expression>
    </formulas>
    <formulas>
        <name>StageFromMilestone</name>
        <dataType>String</dataType>
        <expression>CASE( $Record.HMDA_Action__c,
&apos;&apos;,
  CASE({!$Record.encompass_By_EM__Current_Milestone__c}, 
   &apos;Started&apos;,  
   IF( AND( ISBLANK({!$Record.Docs_Requested__c}), ISBLANK({!$Record.Docs_Received__c}), ISBLANK({!$Record.Qualified__c}) ) , &apos;File Started&apos;, IF(NOT(ISBLANK({!$Record.Qualified__c})), &apos;Qualified&apos;, IF(NOT(ISBLANK({!$Record.Docs_Received__c})), &apos;Docs Received&apos;, IF(NOT(ISBLANK({!$Record.Docs_Requested__c}) ), &apos;Docs Requested&apos;, &apos;File Started&apos;)))),
   &apos;File started&apos;,  
   IF( AND( ISBLANK({!$Record.Docs_Requested__c}), ISBLANK({!$Record.Docs_Received__c}), ISBLANK({!$Record.Qualified__c}) ) , &apos;File Started&apos;, IF(NOT(ISBLANK({!$Record.Qualified__c})), &apos;Qualified&apos;, IF(NOT(ISBLANK({!$Record.Docs_Received__c})), &apos;Docs Received&apos;, IF(NOT(ISBLANK({!$Record.Docs_Requested__c}) ), &apos;Docs Requested&apos;, &apos;File Started&apos;)))),
   {!$Record.encompass_By_EM__Current_Milestone__c}
  ),
&apos;Active Loan&apos;, 
  CASE({!$Record.encompass_By_EM__Current_Milestone__c}, 
  &apos;Started&apos;,  
   IF( AND( ISBLANK({!$Record.Docs_Requested__c}), ISBLANK({!$Record.Docs_Received__c}), ISBLANK({!$Record.Qualified__c}) ) , &apos;File Started&apos;, IF(NOT(ISBLANK({!$Record.Qualified__c})), &apos;Qualified&apos;, IF(NOT(ISBLANK({!$Record.Docs_Received__c})), &apos;Docs Received&apos;, IF(NOT(ISBLANK({!$Record.Docs_Requested__c})), &apos;Docs Requested&apos;, &apos;File Started&apos;)))), 
   &apos;File started&apos;,  
   IF( AND( ISBLANK({!$Record.Docs_Requested__c}), ISBLANK({!$Record.Docs_Received__c}), ISBLANK({!$Record.Qualified__c}) ) , &apos;File Started&apos;, IF(NOT(ISBLANK({!$Record.Qualified__c})), &apos;Qualified&apos;, IF(NOT(ISBLANK({!$Record.Docs_Received__c})), &apos;Docs Received&apos;, IF(NOT(ISBLANK({!$Record.Docs_Requested__c})), &apos;Docs Requested&apos;, &apos;File Started&apos;)))), 
  {!$Record.encompass_By_EM__Current_Milestone__c}),
&apos;Loan Originated&apos;, &apos;Closed Won&apos;,
&apos;Application denied&apos;, &apos;Cancelled&apos;,
&apos;Application withdrawn&apos;, &apos;Cancelled&apos;,
&apos;Application approved but not accepted&apos;, &apos;Cancelled&apos;,
&apos;File Closed for incompleteness&apos;, &apos;Cancelled&apos;,
&apos;Preapproval request denied by institution&apos;, &apos;Cancelled&apos;,
&apos;Preapproval request approved but not accepted&apos;, &apos;Cancelled&apos;,
&apos;Inquiry Expired (Qualifying)&apos;, &apos;Inquiry Expired (Qualifying)&apos;,
&apos;Inquiry Expired (Rates)&apos;, &apos;Inquiry Expired (Rates)&apos;,
&apos;Inquiry Expired (Incompleteness)&apos;, &apos;Inquiry Expired (Incompleteness)&apos;,
{!TEXT($Record.StageName)})</expression>
    </formulas>
    <formulas>
        <name>YearFromNow</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(), 12)</expression>
    </formulas>
    <interviewLabel>OpportunityBeforeUpdates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loan-BeforeUpdates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CoLO_User</name>
        <label>Get CoLO User</label>
        <locationX>292</locationX>
        <locationY>2735</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CO_LO_User_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Co_Loan_Originator__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>CoLoUserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Dusty</name>
        <label>Get Dusty</label>
        <locationX>468</locationX>
        <locationY>2519</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CO_LO_is_Assigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>dusty@solidify.com</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>DustyUserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_Originator_User</name>
        <label>Get Loan Originator User</label>
        <locationX>468</locationX>
        <locationY>2111</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loan_Originator_User_Found</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Loan_Originator__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Loan_Originator_Encompass__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>OriginatorUserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Check the Point User metadata mapping table for a match on user name</description>
        <name>Get_Point_User_LO</name>
        <label>Get Point User LO</label>
        <locationX>336</locationX>
        <locationY>2327</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Dusty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Loan_Originator__c</elementReference>
            </value>
        </filters>
        <object>Point_User__mdt</object>
        <outputAssignments>
            <assignToReference>OriginatorUserId</assignToReference>
            <field>Salesforce_Id__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Point_User_Mapping_for_CO_LO</name>
        <label>Get Point User Mapping for CO-LO</label>
        <locationX>380</locationX>
        <locationY>2951</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Owner_Decisions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Co_Loan_Originator__c</elementReference>
            </value>
        </filters>
        <object>Point_User__mdt</object>
        <outputAssignments>
            <assignToReference>CoLoUserId</assignToReference>
            <field>Salesforce_Id__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Processor_User_by_Name</name>
        <label>Get Processor User by Name</label>
        <locationX>182</locationX>
        <locationY>1319</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Processor_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Loan_Processor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>IsActive</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_CloseDate</name>
        <label>Add CloseDate</label>
        <locationX>468</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Legacy_Interest_Rate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CloseDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>YearFromNow</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_Owner_LO</name>
        <label>Add Owner, LO</label>
        <locationX>732</locationX>
        <locationY>3335</locationY>
        <inputAssignments>
            <field>Co_Loan_Originator_User__c</field>
            <value>
                <elementReference>CoLoUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Originator_User__c</field>
            <value>
                <elementReference>OriginatorUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OriginatorUserId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>CoLO_Owner</name>
        <label>Set Owner to Co-LO</label>
        <locationX>204</locationX>
        <locationY>3335</locationY>
        <inputAssignments>
            <field>Co_Loan_Originator_User__c</field>
            <value>
                <elementReference>CoLoUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Originator_User__c</field>
            <value>
                <elementReference>DustyUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CoLoUserId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Legacy_Interest_Rate</name>
        <label>Legacy Interest Rate</label>
        <locationX>468</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>Stage_IsChanged</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Interest_Rate_SF__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Interest_Rate__c</field>
            <value>
                <elementReference>$Record.Interest_Rate_SF__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>New_Scenario_Loan_null_LO</name>
        <label>New Scenario Loan null LO</label>
        <locationX>468</locationX>
        <locationY>287</locationY>
        <connector>
            <targetReference>Add_CloseDate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan_Originator_User__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125G000000feHYQAY</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Loan_Originator_User__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Originator__c</field>
            <value>
                <elementReference>RecordOwnerFullName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Process_User_Update</name>
        <label>Process User Update</label>
        <locationX>50</locationX>
        <locationY>1535</locationY>
        <connector>
            <targetReference>Encompass_LO_Is_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Loan_Processor_User__c</field>
            <value>
                <elementReference>Get_Processor_User_by_Name.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Processor_User_Update</name>
        <label>Remove Processor User</label>
        <locationX>490</locationX>
        <locationY>1319</locationY>
        <connector>
            <targetReference>Encompass_LO_Is_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Loan_Processor_User__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_CloseDate</name>
        <label>Set CloseDate</label>
        <locationX>336</locationX>
        <locationY>1019</locationY>
        <connector>
            <targetReference>Loan_Processor_is_Changed</targetReference>
        </connector>
        <filterLogic>1</filterLogic>
        <filters>
            <field>HMDA_Action_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record.HMDA_Action_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Dusty_as_Owner</name>
        <label>Set Dusty as Owner and LO</label>
        <locationX>468</locationX>
        <locationY>3335</locationY>
        <inputAssignments>
            <field>Co_Loan_Originator_User__c</field>
            <value>
                <elementReference>CoLoUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Originator_User__c</field>
            <value>
                <elementReference>DustyUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>DustyUserId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>When the milestone is changed update the Stage based on formula</description>
        <name>Update_Stage_From_Milestone</name>
        <label>Update Stage From Milestone</label>
        <locationX>556</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>Loan_is_Closed</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>encompass_By_EM__Current_Milestone__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>StageFromMilestone</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>342</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Scenario_Loan_null_LO</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CoLoUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DustyUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OriginatorUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
