force-app/main/default/flows/POst_Close_LO_Scheduled_FLow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>369</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>taskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskRecordVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bi_Annual_Review</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Value_s</name>
        <label>Assign Task Value(s)</label>
        <locationX>369</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>taskRecordVar.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>First Payment Reminder</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>First Payment Reminder</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>To Do</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Primary_Contact.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_to_Collection</name>
        <label>Copy 1 of Add to Collection</label>
        <locationX>369</locationX>
        <locationY>1632</locationY>
        <assignmentItems>
            <assignToReference>taskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskRecordVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Anniversary_Birthday</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Task_Value_s</name>
        <label>Copy 1 of Assign Task Value(s)</label>
        <locationX>369</locationX>
        <locationY>1524</locationY>
        <assignmentItems>
            <assignToReference>taskRecordVar.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>180 Day Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>180 Day Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>To Do</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Primary_Contact.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Add_to_Collection</name>
        <label>Copy 1 of Copy 1 of Add to Collection</label>
        <locationX>50</locationX>
        <locationY>2364</locationY>
        <assignmentItems>
            <assignToReference>taskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskRecordVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X10_Day_Lock_Expiration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Assign_Task_Value_s</name>
        <label>Copy 1 of Copy 1 of Assign Task Value(s)</label>
        <locationX>50</locationX>
        <locationY>2256</locationY>
        <assignmentItems>
            <assignToReference>taskRecordVar.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>birthdateNumberOfYearsSubjectFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Annual Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>To Do</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Primary_Contact.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Add_to_Collection</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Add to Collection</label>
        <locationX>369</locationX>
        <locationY>2940</locationY>
        <assignmentItems>
            <assignToReference>taskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskRecordVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X1_Day_Lock_Expiration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Assign_Task_Value_s</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Assign Task Value(s)</label>
        <locationX>369</locationX>
        <locationY>2832</locationY>
        <assignmentItems>
            <assignToReference>taskRecordVar.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>10 Day Lock Expiration</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>10 Day Lock Expiration</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>To Do</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Primary_Contact.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.IsHighPriority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>True</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Add_to_Collection</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Copy 1 of Add to Collection</label>
        <locationX>369</locationX>
        <locationY>3348</locationY>
        <assignmentItems>
            <assignToReference>taskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskRecordVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ToDay_Lock_Expiration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Assign_Task_Value_s</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Copy 1 of Assign Task Value(s)</label>
        <locationX>369</locationX>
        <locationY>3240</locationY>
        <assignmentItems>
            <assignToReference>taskRecordVar.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1 Day Lock Expiration</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1 Day Lock Expiration</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>To Do</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Primary_Contact.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.IsHighPriority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>True</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Add_to_Collection</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Copy 1 of Copy 1 of Add to Collection</label>
        <locationX>369</locationX>
        <locationY>3756</locationY>
        <assignmentItems>
            <assignToReference>taskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskRecordVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EPO_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Assign_Task_Value_s</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Copy 1 of Copy 1 of Assign Task Value(s)</label>
        <locationX>369</locationX>
        <locationY>3648</locationY>
        <assignmentItems>
            <assignToReference>taskRecordVar.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lock Expires Today</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lock Expiration Warning</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>To Do</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Primary_Contact.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.IsHighPriority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>True</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Add_to_Collection</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Copy 1 of Copy 1 of Copy 1 of Add to Collection</label>
        <locationX>369</locationX>
        <locationY>4164</locationY>
        <assignmentItems>
            <assignToReference>taskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskRecordVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Assign_Task_Value_s</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Copy 1 of Copy 1 of Copy 1 of Assign Task Value(s)</label>
        <locationX>369</locationX>
        <locationY>4056</locationY>
        <assignmentItems>
            <assignToReference>taskRecordVar.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EPO Expires in 30 days</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EPO Expires in 30 days</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>To Do</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Primary_Contact.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.IsHighPriority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>True</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Anniversary_Birthday</name>
        <label>Anniversary/Birthday?</label>
        <locationX>501</locationX>
        <locationY>1824</locationY>
        <defaultConnector>
            <targetReference>X10_Day_Lock_Expiration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Birthday_of_Closed_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Newer_Loan</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bi_Annual_Review</name>
        <label>Bi Annual Review</label>
        <locationX>501</locationX>
        <locationY>1416</locationY>
        <defaultConnector>
            <targetReference>Anniversary_Birthday</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X180_After_Closed_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mortgage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Task_Value_s</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Only trigger these tasks to get created if the Loan Owner is 1) Active and 2) Not on an Identity User profile.</description>
        <name>Check_if_Loan_Owner_is_Active_and_Non_Identity_User</name>
        <label>Check if Loan Owner is Active and Non Identity User</label>
        <locationX>671</locationX>
        <locationY>792</locationY>
        <defaultConnectorLabel>Non Active or Identity User</defaultConnectorLabel>
        <rules>
            <name>Active_Loan_Owner_Non_Identity_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Identity User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Primary_Contact</targetReference>
            </connector>
            <label>Active Loan Owner, Non Identity User</label>
        </rules>
    </decisions>
    <decisions>
        <name>EPO_Date</name>
        <label>EPO Date?</label>
        <locationX>501</locationX>
        <locationY>3948</locationY>
        <defaultConnector>
            <targetReference>Create_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes6</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X30_Days_Until_EPO__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mortgage</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Assign_Task_Value_s</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>First_Payment_Reminder</name>
        <label>First Payment Reminder</label>
        <locationX>501</locationX>
        <locationY>1008</locationY>
        <defaultConnector>
            <targetReference>Bi_Annual_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X10_Days_to_First_Payment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_Value_s</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Newer</name>
        <label>Found Newer?</label>
        <locationX>228</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Check_if_Loan_Owner_is_Active_and_Non_Identity_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Newer_Loan2.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact_Roles.Contact.Contact_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fired</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact_Roles.Contact.Contact_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deceased</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Property.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Newer_Loan</name>
        <label>Found Newer Loan?</label>
        <locationX>336</locationX>
        <locationY>2040</locationY>
        <defaultConnector>
            <targetReference>X10_Day_Lock_Expiration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Newer_Loan.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_5_Years_Old</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the loan anniversary is &gt; 5 years</description>
        <name>Is_5_Years_Old</name>
        <label>Is &gt; 5 Years Old?</label>
        <locationX>182</locationX>
        <locationY>2148</locationY>
        <defaultConnector>
            <targetReference>X10_Day_Lock_Expiration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Years_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfYearsFormula</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Assign_Task_Value_s</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>ToDay_Lock_Expiration</name>
        <label>Today Lock Expiration?</label>
        <locationX>501</locationX>
        <locationY>3540</locationY>
        <defaultConnector>
            <targetReference>EPO_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lock_Expiration_is_Today__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Assign_Task_Value_s</targetReference>
            </connector>
            <label>Copy 1 of Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>X10_Day_Lock_Expiration</name>
        <label>10 Day Lock Expiration?</label>
        <locationX>501</locationX>
        <locationY>2724</locationY>
        <defaultConnector>
            <targetReference>X1_Day_Lock_Expiration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X10_Days_Until_Lock_Expiration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Assign_Task_Value_s</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>X1_Day_Lock_Expiration</name>
        <label>1 Day Lock Expiration?</label>
        <locationX>501</locationX>
        <locationY>3132</locationY>
        <defaultConnector>
            <targetReference>ToDay_Lock_Expiration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X1_Day_Until_Lock_Expiration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Copy_1_of_Assign_Task_Value_s</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>12/23/24: Exclude anniversaries after 5 years. Only trigger notifications on Loan Owners who are active and not Identity users.</description>
    <environments>Default</environments>
    <formulas>
        <name>birthdateNumberOfYearsSubjectFormula</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!$Flow.CurrentDate})-YEAR({!$Record.Closed_Date__c}))+&apos; - Year Anniversary&apos;</expression>
    </formulas>
    <formulas>
        <description>Calculates the number of years between the closed won date on the loan and today. Used to determine if anniversary is &lt;= 5 years</description>
        <name>numberOfYearsFormula</name>
        <dataType>Number</dataType>
        <expression>YEAR({!$Flow.CurrentDate})-YEAR({!$Record.Closed_Date__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>POst Close LO Scheduled FLow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Post Close LO Scheduled FLow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Tasks</name>
        <label>Create Tasks</label>
        <locationX>501</locationX>
        <locationY>4356</locationY>
        <inputReference>taskCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>228</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Newer</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Household_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <filters>
            <field>Household_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fired</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Roles</name>
        <label>Get Contact Roles</label>
        <locationX>228</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Property</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPrimary</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>True</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Newer_Loan</name>
        <label>Get Newer Loan</label>
        <locationX>336</locationX>
        <locationY>1932</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Newer_Loan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject_Property_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Subject_Property_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Closed_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Record.Closed_Date__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Newer_Loan2</name>
        <label>Get Newer Loan?</label>
        <locationX>228</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Roles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject_Property_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Subject_Property_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Closed_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Record.Closed_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Contact</name>
        <label>Get Primary Contact</label>
        <locationX>501</locationX>
        <locationY>900</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>First_Payment_Reminder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPrimary</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Property</name>
        <label>Property</label>
        <locationX>228</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Subject_Property_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Property_Disposition__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Sale</stringValue>
            </value>
        </filters>
        <filters>
            <field>Property_Disposition__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sold</stringValue>
            </value>
        </filters>
        <filters>
            <field>Property_Disposition__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paid in Full</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Properties__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>102</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Newer_Loan2</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7)  AND (8 OR 9)</filterLogic>
        <filters>
            <field>X10_Days_to_First_Payment__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>X180_After_Closed_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Birthday_of_Closed_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>X10_Days_Until_Lock_Expiration__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>X1_Day_Until_Lock_Expiration__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lock_Expiration_is_Today__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>X30_Days_Until_EPO__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Property_Disposition__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>sold</stringValue>
            </value>
        </filters>
        <filters>
            <field>Property_Disposition__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>pending sale</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-10-24</startDate>
            <startTime>04:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AssignedFired</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>deadCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>taskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>taskRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>totalCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
