force-app/main/default/flows/Post_Close_LO_Follow_Up.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>taskCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskRecordVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Value_s</name>
        <label>Assign Task Value(s)</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>taskRecordVar.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>To Do</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send Refi Closing Gift</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closing Gift Refi</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Role_Primary.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plus3DaysFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.IsHighPriority</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_to_Collection</name>
        <label>Copy 1 of Add to Collection</label>
        <locationX>974</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>taskCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskRecordVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Listing_Agent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Task_Value_s</name>
        <label>Copy 1 of Assign Task Value(s)</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>taskRecordVar.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>To Do</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send Refi Closing Gift</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closing Gift Refi Past Client</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Role_Primary.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plus3DaysFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.IsHighPriority</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Add_to_Collection</name>
        <label>Copy 1 of Copy 1 of Add to Collection</label>
        <locationX>842</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>taskCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskRecordVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Add_to_Collection</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Add to Collection</label>
        <locationX>842</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>taskCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskRecordVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_2_of_Assign_Task_Value_s</name>
        <label>Copy 1 of Copy 2 of Assign Task Value(s)</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>taskRecordVar.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>To Do</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send Purch Closing Gift</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closing Gift Purch 2nd Home</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Get_Contact_Role_Primary.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plus3DaysFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.IsHighPriority</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_3_of_Copy_2_of_Assign_Task_Value_s</name>
        <label>Copy 1 of Copy 3 of Copy 2 of Assign Task Value(s)</label>
        <locationX>842</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>taskRecordVar.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>To Do</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send Thank You to Buyer Agent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Thank You Card for Buyer Agent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Buyers_Agent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plus3DaysFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Task_Value_s</name>
        <label>Copy 2 of Assign Task Value(s)</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>taskRecordVar.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>To Do</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send Purch Closing Gift</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closing Gift Purch PR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Get_Contact_Role_Primary.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plus3DaysFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.IsHighPriority</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Copy_2_of_Assign_Task_Value_s</name>
        <label>Copy 2 of Copy 2 of Assign Task Value(s)</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>taskRecordVar.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>To Do</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send Purch Closing Gift</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closing Gift Purch INV</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Get_Contact_Role_Primary.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plus3DaysFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.IsHighPriority</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Copy_2_of_Assign_Task_Value_s</name>
        <label>Copy 3 of Copy 2 of Assign Task Value(s)</label>
        <locationX>842</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>taskRecordVar.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>To Do</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send Thank You to Listing Agent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Thank You Card for Listing Agent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sellers_Agent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plus3DaysFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decide_Occupancy</name>
        <label>Decide Occupancy</label>
        <locationX>974</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Add_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Occupancy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Task_Value_s</targetReference>
            </connector>
            <label>Primary</label>
        </rules>
        <rules>
            <name>Secondary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Occupancy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secondary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_2_of_Assign_Task_Value_s</targetReference>
            </connector>
            <label>Secondary</label>
        </rules>
        <rules>
            <name>Investment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Occupancy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Investment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_2_of_Assign_Task_Value_s</targetReference>
            </connector>
            <label>Investment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_Purpose</name>
        <label>Decide Purpose</label>
        <locationX>864</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Refi</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Purpose__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refi-No Cashout</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Purpose__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refi-Cashout</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Purpose__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refinance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Role_Primary</targetReference>
            </connector>
            <label>Refi</label>
        </rules>
        <rules>
            <name>Purchase</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Purpose__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Purch</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Purpose__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Purchase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Contact_Role_Primary</targetReference>
            </connector>
            <label>Purchase</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has</name>
        <label>Has Buyer Agent?</label>
        <locationX>974</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Create_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Buyers_Agent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_3_of_Copy_2_of_Assign_Task_Value_s</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Listing_Agent</name>
        <label>Is Listing Agent?</label>
        <locationX>974</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Has</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Listing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sellers_Agent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Copy_2_of_Assign_Task_Value_s</targetReference>
            </connector>
            <label>Listing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Repeat_Or_Not_Repeat</name>
        <label>Repeat Or Not Repeat</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_Task_Value_s</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Repeat</defaultConnectorLabel>
        <rules>
            <name>Repeat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Repeat Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_Value_s</targetReference>
            </connector>
            <label>Repeat</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>plus3DaysFormula</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+3</expression>
    </formulas>
    <interviewLabel>Post-Close LO Follow Up {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Post-Close LO Follow Up</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>864</locationX>
        <locationY>1847</locationY>
        <inputReference>taskCollectionVar</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Contact_Role_Primary</name>
        <label>Copy 1 of Get Contact Role Primary</label>
        <locationX>974</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decide_Occupancy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPrimary</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Role_Primary</name>
        <label>Get Contact Role Primary</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Repeat_Or_Not_Repeat</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPrimary</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>738</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decide_Purpose</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Property_Disposition__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>sold</stringValue>
            </value>
        </filters>
        <filters>
            <field>Property_Disposition__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>pending sale</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>taskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>taskCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>taskRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
