force-app/main/default/flows/Proposal_Name_fix.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Filter_by_lead_contact_and_Rate_refi</name>
        <label>Filter by lead/contact and Rate/refi</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Update_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Rate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012f4000000ObpJAAS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Borrower_Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Name_0</targetReference>
            </connector>
            <label>Lead Rate</label>
        </rules>
        <rules>
            <name>Lead_Refi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012f4000000OatvAAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Borrower_Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Name_0_0</targetReference>
            </connector>
            <label>Lead Refi</label>
        </rules>
        <rules>
            <name>Contact_Rate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012f4000000ObpJAAS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Borrower__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Name_0_0_0</targetReference>
            </connector>
            <label>Contact Rate</label>
        </rules>
        <rules>
            <name>Contact_Refi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012f4000000OatvAAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Borrower__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Name_0_0_0_0</targetReference>
            </connector>
            <label>Contact Refi</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ContactRateProposalName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Borrower__r.FirstName} + &quot; &quot; + {!$Record.Borrower__r.LastName} + &quot; &quot; + &quot;Rate Proposal&quot; + &quot; &quot; + {!CreatedDateFixed}</expression>
    </formulas>
    <formulas>
        <name>ContactRefiProposalName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Borrower__r.FirstName} + &quot; &quot; + {!$Record.Borrower__r.LastName} + &quot; &quot; + &quot;Refi Proposal&quot; + &quot; &quot; + {!CreatedDateFixed}</expression>
    </formulas>
    <formulas>
        <name>CreatedDateFixed</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH(DATEVALUE({!$Record.CreatedDate}))) + &quot;/&quot; + TEXT(DAY(DATEVALUE({!$Record.CreatedDate}))) + &quot;/&quot; + TEXT(YEAR(DATEVALUE({!$Record.CreatedDate})))</expression>
    </formulas>
    <formulas>
        <name>LeadRateProposalName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Borrower_Lead__r.FirstName} + &quot; &quot; + {!$Record.Borrower_Lead__r.LastName} + &quot; &quot; + &quot;Rate Proposal&quot; + &quot; &quot; + {!CreatedDateFixed}</expression>
    </formulas>
    <formulas>
        <name>LeadRefiProposalName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Borrower_Lead__r.FirstName} + &quot; &quot; + {!$Record.Borrower_Lead__r.LastName} + &quot; &quot; + &quot;Refi Proposal&quot; + &quot; &quot; + {!CreatedDateFixed}</expression>
    </formulas>
    <interviewLabel>Proposal Name fix {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Proposal Name fix</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Name</name>
        <label>Update Name</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>LeadRateProposalName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Name_0</name>
        <label>Update Name</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>LeadRateProposalName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Name_0_0</name>
        <label>Update Name</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>LeadRefiProposalName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Name_0_0_0</name>
        <label>Update Name</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ContactRateProposalName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Name_0_0_0_0</name>
        <label>Update Name</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ContactRefiProposalName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Filter_by_lead_contact_and_Rate_refi</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Proposal__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
