force-app/main/default/flows/Scenario_Loans_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Account_to_Property</name>
        <label>Assign Account to Property</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Get_Subject_Property.Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Household</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UPdate_Subject_Property_Household</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>ProposalScenarioRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0125G000000feJUQAY</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Subject_Property_Name_presented</name>
        <label>Is Subject Property Name presented</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>ScenarioProposalExists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject_Property_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Subject_Property</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ScenarioProposalExists</name>
        <label>Scenario Proposal Exists</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Scenario exists</defaultConnectorLabel>
        <rules>
            <name>Scenario_Field_Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Scenario__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Proposal_s_Scenario_record_type</targetReference>
            </connector>
            <label>Scenario Field Is Null</label>
        </rules>
    </decisions>
    <description>Get the Proposal&apos;s Scenario Record type Id from DB</description>
    <environments>Default</environments>
    <formulas>
        <name>Household</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.AccountId}), {!$Record.Scenario_Household__c},{!$Record.AccountId})</expression>
    </formulas>
    <interviewLabel>Scenario Loans Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scenario Loans Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Scenario_Proposal</name>
        <label>Create Scenario Proposal</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Add_Scenario_to_Loan</targetReference>
        </connector>
        <inputAssignments>
            <field>Current_Balance_Down_Payment__c</field>
            <value>
                <elementReference>$Record.Down_Payment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Balance__c</field>
            <value>
                <elementReference>$Record.Refi_Current_Balance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Interest_Rate__c</field>
            <value>
                <elementReference>$Record.Interest_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Loan_Amount__c</field>
            <value>
                <elementReference>$Record.Current_Schedule_Balance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Loan_Term__c</field>
            <value>
                <elementReference>$Record.Refi_Current_Loan_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Program__c</field>
            <value>
                <elementReference>$Record.Loan_Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Program_Scenario_1__c</field>
            <value>
                <elementReference>$Record.Loan_Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupancy__c</field>
            <value>
                <elementReference>$Record.Occupancy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Price__c</field>
            <value>
                <elementReference>$Record.Purchase_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purpose__c</field>
            <value>
                <elementReference>$Record.Purpose__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Proposal_s_Scenario_record_type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scenario_Loan_Record__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject_Property_Type__c</field>
            <value>
                <elementReference>$Record.Subject_Prop_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Proposal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Proposal_s_Scenario_record_type</name>
        <label>Get Proposal&apos;s Scenario record type</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Scenario_Proposal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scenario</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proposal__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subject_Property</name>
        <label>Get Subject Property</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_to_Property</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Subject_Property_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Properties__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_Scenario_to_Loan</name>
        <label>Add Scenario to Loan</label>
        <locationX>50</locationX>
        <locationY>1391</locationY>
        <inputAssignments>
            <field>Scenario__c</field>
            <value>
                <elementReference>Create_Scenario_Proposal</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Scenario_Household_Lookup</name>
        <label>Update Scenario Household Lookup</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Is_Subject_Property_Name_presented</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Scenario_Household__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scenario_Household__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UPdate_Subject_Property_Household</name>
        <label>UPdate Subject Property Household</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>ScenarioProposalExists</targetReference>
        </connector>
        <inputReference>Get_Subject_Property</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Scenario_Household_Lookup</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.Name} = &apos;Scenario&apos;</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
