force-app/main/default/flows/Scheduled_Flow_Loan_Decision_Required.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Created_Date_Stage_File_Started_30_Days</name>
        <label>Created Date (Stage = File Started = 30 Days)</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_Created_Date_File_Started_Created_Date_30_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_Created_Date_Plus_30_Days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_Loan_Discion_Required</targetReference>
            </connector>
            <label>True, Created Date ( File Started (Created Date = 30 Days))</label>
        </rules>
    </decisions>
    <description>Daily Scheduled Flow @ 8am to check if File Started = 30days</description>
    <environments>Default</environments>
    <formulas>
        <name>Formula_Created_Date_Plus_30_Days</name>
        <dataType>Boolean</dataType>
        <expression>DATEVALUE({!$Record.CreatedDate}) + 30 = TODAY()</expression>
    </formulas>
    <formulas>
        <name>Formula_LOA_or_LO</name>
        <dataType>String</dataType>
        <expression>IF(
  OR(
    {!$Record.OwnerId} = &quot;005f4000000ZZuGAAW&quot;,
    {!$Record.OwnerId} = &quot;005f4000000b5EmAAI&quot;
  ),
  &quot;005Pe00000AHahFIAT&quot;,
  IF(
    OR(
      {!$Record.OwnerId} = &quot;005f4000004e45HAAQ&quot;,
      {!$Record.OwnerId} = &quot;005Pe00000ALiTJIA1&quot;,
      {!$Record.OwnerId} = &quot;005Pe000009FTEDIA4&quot;
    ),
    &quot;0055G000008sStAQAU&quot;,
    {!$Record.OwnerId}
  )
)</expression>
    </formulas>
    <formulas>
        <name>Formula_Today_Plus_One_Business_Day</name>
        <dataType>Date</dataType>
        <expression>CASE(
  MOD(TODAY() - DATE(1985,6,24), 7),
  5, TODAY() + 3, /* Friday → Monday */
  6, TODAY() + 2, /* Saturday → Monday */
  TODAY() + 1     /* All other days → next day */
)</expression>
    </formulas>
    <interviewLabel>Scheduled Flow - Loan Decision Required {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled Flow - Loan Decision Required</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_Loan_Discion_Required</name>
        <label>Create Task - Loan Discion Required</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Formula_Today_Plus_One_Business_Day</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Loan created &gt;=30 days ago, but remains in File Started status with no application date.  Please communicate with borrower to decision out or move forward.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Formula_LOA_or_LO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Loan Decision Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Created_Date_Stage_File_Started_30_Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>File Started</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-06-12</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
