force-app/main/default/flows/screenCreateQuoteFromProperty.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <formulas>
        <name>currentLoanInfo</name>
        <dataType>String</dataType>
        <expression>IF (!IsBlank({!newQuote.New_Loan_Amount__c}), &apos;Current Loan Balance: &apos; + TEXT({!newQuote.Current_Loan_Balance_Remaining__c}) , &apos;No closed loan was found, or closed loan is missing information to calculate current balance.&apos;)  + &apos;Current Loan Amt: &apos; +  TEXT({!newQuote.Current_Loan_Amount__c})</expression>
    </formulas>
    <interviewLabel>screenCreateQuoteFromProperty {!$Flow.CurrentDateTime}</interviewLabel>
    <label>screenCreateQuoteFromProperty</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>newQuoteRecord</name>
        <label>newQuote</label>
        <locationX>353</locationX>
        <locationY>205</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Quote</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Missing_Information</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newQuoteId</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <outputReference>newQuote</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>New_Loan_Amount__c</queriedFields>
        <queriedFields>New_Loan_Interest_Rate__c</queriedFields>
        <queriedFields>New_Loan_Term__c</queriedFields>
        <queriedFields>Current_Loan_Amount__c</queriedFields>
        <queriedFields>Current_Loan_Balance_Remaining__c</queriedFields>
        <queriedFields>Current_Loan_Monthly_Payment__c</queriedFields>
        <queriedFields>X10_Yr_Treasury_Yield__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateQuote</name>
        <label>updateQuote</label>
        <locationX>781</locationX>
        <locationY>176</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newQuote.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>New_Loan_Amount__c</field>
            <value>
                <elementReference>newLoanAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Loan_Interest_Rate__c</field>
            <value>
                <elementReference>newLoanInterest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Loan_Term__c</field>
            <value>
                <elementReference>newLoanTerm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X10_Yr_Treasury_Yield__c</field>
            <value>
                <elementReference>X10_Year_Treasury_Yield</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <screens>
        <name>Error_Missing_Information</name>
        <label>Error: Missing Information</label>
        <locationX>552</locationX>
        <locationY>482</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>faultMsg</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Quote</name>
        <label>New Quote</label>
        <locationX>553</locationX>
        <locationY>147</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>updateQuote</targetReference>
        </connector>
        <fields>
            <name>Current_Loan_Details</name>
            <fieldText>&lt;p&gt;{!currentLoanInfo}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>newLoanTerm</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>newQuote.New_Loan_Term__c</elementReference>
            </defaultValue>
            <fieldText>New Loan Term</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>newLoanInterest</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>newQuote.New_Loan_Interest_Rate__c</elementReference>
            </defaultValue>
            <fieldText>New Loan Interest Rate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>4</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>newLoanAmount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>newQuote.New_Loan_Amount__c</elementReference>
            </defaultValue>
            <fieldText>New Loan Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>X10_Year_Treasury_Yield</name>
            <dataType>Number</dataType>
            <fieldText>10 Year Treasury Yield</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>3</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>createQuote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>createQuote</name>
        <label>createQuote</label>
        <locationX>233</locationX>
        <locationY>157</locationY>
        <connector>
            <targetReference>newQuoteRecord</targetReference>
        </connector>
        <flowName>createQuoteFromProp</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>newQuoteId</assignToReference>
            <name>quoteId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>newQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>newQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
