force-app/main/default/flows/Send_Survival_Kit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Team_Decision</name>
        <label>Team Decision</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Create_Task_to_Send_Preapproval_Gift</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Broderick</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>005f4000000ZZuGAAW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>005f4000000b5EmAAI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_to_Send_Preapproval_Gift_Broderick</targetReference>
            </connector>
            <label>Broderick</label>
        </rules>
        <rules>
            <name>Salas_Bing_Suemnick</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_Task_to_Send_Preapproval_Gift_Salas_Bing_Suemnick</targetReference>
            </connector>
            <label>Salas, Bing, Suemnick</label>
        </rules>
    </decisions>
    <description>Initiates a task to send a surival kit when a loan with a subject property address of TBD reaches the &quot;Pre-Approved&quot; stage.</description>
    <environments>Default</environments>
    <formulas>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <expression>today()+2</expression>
    </formulas>
    <interviewLabel>Send Survival Kit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loan: Send Preapproval Gift</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create task to send the survival kit which includes useful tools when home shopping.</description>
        <name>Create_Task_to_Send_Preapproval_Gift</name>
        <label>Create Task to Send Preapproval Gift</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Send Preapproval Gift for {!$Record.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create task to send the survival kit which includes useful tools when home shopping.</description>
        <name>Create_Task_to_Send_Preapproval_Gift_Broderick</name>
        <label>Create Task to Send Preapproval Gift (Broderick)</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005Pe00000AHahFIAT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Send Preapproval Gift for {!$Record.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create task to send the survival kit which includes useful tools when home shopping.</description>
        <name>Create_Task_to_Send_Preapproval_Gift_Salas_Bing_Suemnick</name>
        <label>Create Task to Send Preapproval Gift (Salas, Bing, Suemnick)</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0055G000008sStAQAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Send Preapproval Gift for {!$Record.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Team_Decision</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject_Prop_Street__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>TBD</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Loan_Originator__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Broderick</stringValue>
            </value>
        </filters>
        <filters>
            <field>Co_Loan_Originator__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Broderick</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
