force-app/main/default/flows/SequenceApplicationRecords.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Sequence</name>
        <label>Assign Sequence</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>SequenceCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Other_Application_Records_This_Loan</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Application_Sequence</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>CountPlus1</name>
        <dataType>Number</dataType>
        <expression>{!SequenceCount}+1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>SequenceApplicationRecords {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EncompassLoanApplication-SequenceRecords</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Other_Application_Records_This_Loan</name>
        <label>Get Other Application Records This Loan</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Sequence</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>encompass_By_EM__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.encompass_By_EM__Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>encompass_By_EM__Loan_Application__c</object>
        <sortField>Sequence__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Application_Sequence</name>
        <label>Update Application Sequence</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>Sequence__c</field>
            <value>
                <elementReference>CountPlus1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Other_Application_Records_This_Loan</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>encompass_By_EM__Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>encompass_By_EM__Loan_Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SequenceCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
