force-app/main/default/flows/solidifyLoanClone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_NewOCR_Collection</name>
        <label>Add to NewOCR Collection</label>
        <locationX>765</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>NewOCRs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentOldOCR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_OCRs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Redirect</name>
        <label>Assign Redirect</label>
        <locationX>104</locationX>
        <locationY>550</locationY>
        <assignmentItems>
            <assignToReference>redirect</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewLoan.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Old_OCRs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Loan_on_OCR</name>
        <label>Change Loan on OCR</label>
        <locationX>703</locationX>
        <locationY>330</locationY>
        <assignmentItems>
            <assignToReference>CurrentOldOCR.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewLoan.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_NewOCR_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Close_Date</name>
        <label>Set Close Date</label>
        <locationX>26</locationX>
        <locationY>213</locationY>
        <assignmentItems>
            <assignToReference>CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CloseDateFromCOE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_New_Loan_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_New_Loan_Values</name>
        <label>Update New Loan Values</label>
        <locationX>26</locationX>
        <locationY>325</locationY>
        <assignmentItems>
            <assignToReference>NewLoan.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLoan.Subject_Property_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PropertyId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLoan.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLoan.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLoan.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLoan.Referred_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OldLoan.Referred_By__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewLoan.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OldLoan.LeadSource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Loan_Record</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>LoanStage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CloseDateFromCOE</name>
        <dataType>Date</dataType>
        <expression>IF( ISBLANK({!COE}), Today()+90, {!COE} )</expression>
    </formulas>
    <interviewLabel>solidifyLoanClone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>solidifyLoanClone</label>
    <loops>
        <name>Loop_Through_OCRs</name>
        <label>Loop Through OCRs</label>
        <locationX>482</locationX>
        <locationY>454</locationY>
        <assignNextValueToReference>CurrentOldOCR</assignNextValueToReference>
        <collectionReference>OldOCRs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Change_Loan_on_OCR</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_OCRs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Loan_Record</name>
        <label>Create New Loan Record</label>
        <locationX>48</locationX>
        <locationY>430</locationY>
        <connector>
            <targetReference>Assign_Redirect</targetReference>
        </connector>
        <inputReference>NewLoan</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_OCRs</name>
        <label>Create New OCRs</label>
        <locationX>503</locationX>
        <locationY>585</locationY>
        <inputReference>NewOCRs</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Old_Loan</name>
        <label>Get Old Loan</label>
        <locationX>22</locationX>
        <locationY>22</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Loan_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OldLoanId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PropertyId</assignToReference>
            <field>Subject_Property_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Old_OCRs</name>
        <label>Get Old OCRs</label>
        <locationX>309</locationX>
        <locationY>448</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_OCRs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OldLoanId</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputReference>OldOCRs</outputReference>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>IsPrimary</queriedFields>
        <queriedFields>Role</queriedFields>
    </recordLookups>
    <screens>
        <name>New_Loan_Details</name>
        <label>New Loan Details</label>
        <locationX>202</locationX>
        <locationY>108</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Close_Date</targetReference>
        </connector>
        <fields>
            <name>Loan_Name</name>
            <dataType>String</dataType>
            <fieldText>Loan Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Stage</name>
            <choiceReferences>LoanStage</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>COE</name>
            <dataType>Date</dataType>
            <fieldText>COE</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Get_Old_Loan</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentNewOCR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>CurrentOldOCR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>NewLoan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>NewOCRs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>OldLoan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OldLoanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OldOCRs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>PropertyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>redirect</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
