force-app/main/default/flows/Task_After_Save_Record_Trigger_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Refresh_LP_Alert_Task_Values</name>
        <label>Assign Refresh LP Alert Task Values</label>
        <locationX>198</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>taskRecordVar.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Refresh LP Alert</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>To Do</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>datePlus60Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskRecordVar.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0055G0000095E3QQAU</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Created_or_Updated</name>
        <label>Created or Updated?</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Is_Add_to_LP_Rate_Monitoring_and_Closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Updated</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Add_to_LP_Rate_Monitoring_and_Closed</name>
        <label>Is Add to LP Rate Monitoring and Closed?</label>
        <locationX>330</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Add to LP Rate Monitoring and Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Refresh_LP_Alert_Task_Values</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>datePlus60Formula</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+60</expression>
    </formulas>
    <interviewLabel>Task After Save Record Trigger Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task After Save Record Trigger Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>198</locationX>
        <locationY>695</locationY>
        <inputReference>taskRecordVar</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Created_or_Updated</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>taskRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
