force-app/main/default/flows/Update_Contact_and_Household_Address_Closed_Won_Loan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>462</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>contactCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contactRecordVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>householdCollectionForId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Contact_Roles.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contact_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Household_Collection</name>
        <label>Add to Household Collection</label>
        <locationX>462</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>householdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>householdCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>householdCollectionForId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Contact_Roles.Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Already_In_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Value_s</name>
        <label>Assign Contact Value(s)</label>
        <locationX>462</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>contactRecordVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contact_Roles.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecordVar.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subject_Prop_Street__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecordVar.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subject_Prop_City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecordVar.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subject_Prop_St__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecordVar.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subject_Prop_Zip__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecordVar.Present_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subject_Prop_Street__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecordVar.Present_Address_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subject_Prop_City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecordVar.Present_Address_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subject_Prop_St__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecordVar.Present_Address_Zip__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subject_Prop_Zip__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecordVar.Temp_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contact_Roles.Contact.Present_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecordVar.Temp_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contact_Roles.Contact.Present_Address_City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecordVar.Temp_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contact_Roles.Contact.Present_Address_State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecordVar.Temp_Postal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contact_Roles.Contact.Present_Address_Zip__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Household_Values</name>
        <label>Assign Household Values</label>
        <locationX>462</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>householdRecordVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contact_Roles.Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>householdRecordVar.BillingAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subject_Prop_Street__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>householdRecordVar.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subject_Prop_City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>householdRecordVar.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subject_Prop_St__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>householdRecordVar.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subject_Prop_Zip__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>householdRecordVar.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contact_Roles.Contact.Account.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>householdRecordVar.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contact_Roles.Contact.Account.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>householdRecordVar.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contact_Roles.Contact.Account.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>householdRecordVar.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contact_Roles.Contact.Account.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Household_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_Already_In_Collection</name>
        <label>Contact Already In Collection?</label>
        <locationX>594</locationX>
        <locationY>1008</locationY>
        <defaultConnector>
            <targetReference>Loop_Contact_Roles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>NOT(1)</conditionLogic>
            <conditions>
                <leftValueReference>contactCollectionIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Contact_Roles.ContactId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Value_s</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>HouseholdIdinCollectionAlready</name>
        <label>Household Id in Collection Already?</label>
        <locationX>594</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Contact_Already_In_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>NOT(1)</conditionLogic>
            <conditions>
                <leftValueReference>householdCollectionForId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Contact_Roles.Contact.AccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Household_Values</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Primary_Residence</name>
        <label>Is Primary Residence</label>
        <locationX>506</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Occupancy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Roles</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Contact and Household Address Closed Won Loan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contact and Household Address Closed Won Loan</label>
    <loops>
        <name>Loop_Contact_Roles</name>
        <label>Loop Contact Roles</label>
        <locationX>374</locationX>
        <locationY>492</locationY>
        <collectionReference>Get_Contact_Roles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>HouseholdIdinCollectionAlready</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Household</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Roles</name>
        <label>Get Contact Roles</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Contact_Roles</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Co-Borrower</stringValue>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Borrower</stringValue>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CoBorrower</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contacts</name>
        <label>Update Contacts</label>
        <locationX>374</locationX>
        <locationY>1608</locationY>
        <inputReference>contactCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Household</name>
        <label>Update Household</label>
        <locationX>374</locationX>
        <locationY>1500</locationY>
        <connector>
            <targetReference>Update_Contacts</targetReference>
        </connector>
        <inputReference>householdCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X1_Minute_After</name>
            <connector>
                <targetReference>Is_Primary_Residence</targetReference>
            </connector>
            <label>1 Minute After</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>contactCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactCollectionIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>householdCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>householdCollectionForId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>householdRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
