force-app/main/default/flows/Update_Loan_File_Team.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Found_co_Loan_Originator_0</name>
        <label>Found Co Loan Originator</label>
        <locationX>226</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Get_Loan_Processor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Is_Chatter_Free_User</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Co_Originator.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0055G000007xLTYQA2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Loan_Originator.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>005f4000004eEppAAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Loan_Processor</targetReference>
            </connector>
            <label>Is Chatter Free User</label>
        </rules>
        <rules>
            <name>Is_Found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Co_Originator</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Loan_Team_0</targetReference>
            </connector>
            <label>Is Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Loan_Originator</name>
        <label>Found Loan Originator</label>
        <locationX>226</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Get_Co_Originator</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Is_Chatter_Free</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Originator.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0055G000007xLTYQA2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Loan_Originator.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>005f4000004eEppAAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Co_Originator</targetReference>
            </connector>
            <label>Is Chatter Free</label>
        </rules>
        <rules>
            <name>Is_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Originator</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Loan_Team</targetReference>
            </connector>
            <label>Is Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Loan_Originator_0_0</name>
        <label>Found Loan Originator</label>
        <locationX>226</locationX>
        <locationY>2039</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Is_Chatter_Free_User1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Processor.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0055G000007xLTYQA2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Loan_Processor.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>005f4000004eEppAAE</stringValue>
                </rightValue>
            </conditions>
            <label>Is Chatter Free User</label>
        </rules>
        <rules>
            <name>Is_Found_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Processor</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Loan_Team_0_0</targetReference>
            </connector>
            <label>Is Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Team_Member_Found</name>
        <label>Team Member Found</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Create_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Is_Found1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Loan_Team.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Role</targetReference>
            </connector>
            <label>Is Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Team_Member_Found_0</name>
        <label>Team Member Found</label>
        <locationX>182</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Create_Member_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Is_Found1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Loan_Team_0.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Role_0</targetReference>
            </connector>
            <label>Is Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Team_Member_Found_0_0</name>
        <label>Team Member Found</label>
        <locationX>226</locationX>
        <locationY>2279</locationY>
        <defaultConnector>
            <targetReference>Create_Member_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Is_Found1_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Loan_Team_0_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Role_0_0</targetReference>
            </connector>
            <label>Is Found</label>
        </rules>
    </decisions>
    <interviewLabel>Update Loan File Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Loan File Team</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Member</name>
        <label>Create Member</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Get_Co_Originator</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Loan Originator</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>Get_Loan_Originator.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Member_0</name>
        <label>Create Member</label>
        <locationX>314</locationX>
        <locationY>1607</locationY>
        <connector>
            <targetReference>Get_Loan_Processor</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Co-Loan Originator</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>Get_Co_Originator.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Member_0_0</name>
        <label>Create Member</label>
        <locationX>358</locationX>
        <locationY>2399</locationY>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Loan Processor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>Get_Loan_Processor.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_Loan_Team</name>
        <label>Find Loan Team</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Team_Member_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Originator.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Loan_Team_0</name>
        <label>Find Loan Team</label>
        <locationX>182</locationX>
        <locationY>1367</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Team_Member_Found_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Co_Originator.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Loan_Team_0_0</name>
        <label>Find Loan Team</label>
        <locationX>226</locationX>
        <locationY>2159</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Team_Member_Found_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Processor.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Co_Originator</name>
        <label>Get Co Originator</label>
        <locationX>226</locationX>
        <locationY>1127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_co_Loan_Originator_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Co_Loan_Originator__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_Originator</name>
        <label>Get Loan Originator</label>
        <locationX>226</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Loan_Originator</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Loan_Originator__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_Processor</name>
        <label>Get Loan Processor</label>
        <locationX>226</locationX>
        <locationY>1919</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Loan_Originator_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Loan_Processor__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Role</name>
        <label>Update Role</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Get_Co_Originator</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Loan_Team.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Loan Originator</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Role_0</name>
        <label>Update Role</label>
        <locationX>50</locationX>
        <locationY>1607</locationY>
        <connector>
            <targetReference>Get_Loan_Processor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Loan_Team_0.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Co-Loan Originator</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Role_0_0</name>
        <label>Update Role</label>
        <locationX>94</locationX>
        <locationY>2399</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Loan_Team_0_0.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Loan Processor</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
    </recordUpdates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Loan_Originator</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Loan_Originator__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Co_Loan_Originator__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Loan_Processor__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Update_Loan_File_Team__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
