force-app/main/default/flows/Update_Historic_Opps_Account_Ownership.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Account_Owner</name>
        <label>Assign Account Owner</label>
        <locationX>666</locationX>
        <locationY>996</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.originalOwnerTestField__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Loan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Account_Owner</name>
        <label>Copy 1 of Assign Account Owner</label>
        <locationX>930</locationX>
        <locationY>1236</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Co_Loan_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.originalOwnerTestField__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Update_Loan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Account_Owner</name>
        <label>Copy 2 of Assign Account Owner</label>
        <locationX>1040</locationX>
        <locationY>1908</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005f4000000ZZuGAAW</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.originalOwnerTestField__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_3_of_Update_Loan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Account_Owner</name>
        <label>Copy 3 of Assign Account Owner</label>
        <locationX>50</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>accountRecordVar.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>005f4000000b5EmAAI</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecordVar.originalOwnerTestField__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecordVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Loan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_Account_Owner</name>
        <label>Copy 4 of Assign Account Owner</label>
        <locationX>1546</locationX>
        <locationY>996</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.originalOwnerTestField__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Update_Loan</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Co_Loan_Originator</name>
        <label>Found Co Loan Originator?</label>
        <locationX>1062</locationX>
        <locationY>1116</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Assign_Account_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Co_Loan_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Account_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Newer_Opp</name>
        <label>Found Newer Opp?</label>
        <locationX>1557</locationX>
        <locationY>516</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Newer_or_Open_Opp.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Newer_or_Open_Opp.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_User</name>
        <label>Found User?</label>
        <locationX>1040</locationX>
        <locationY>876</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Melissa_or_Dustin</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>No_Co_Loan_and_Originator_Not_Dusty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User.User_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Loan_Originator__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Dusty Broderick</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Co_Loan_Originator__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Owner</targetReference>
            </connector>
            <label>No Co Loan and Originator Not Dusty</label>
        </rules>
        <rules>
            <name>Dusty_Owner_and_Not_Co_Loan</name>
            <conditionLogic>1 AND 2 AND 3 AND NOT(4)</conditionLogic>
            <conditions>
                <leftValueReference>Get_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Loan_Originator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dusty Broderick</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Co_Loan_Originator__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Co_Loan_Originator__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Dusty</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Co_Loan_User</targetReference>
            </connector>
            <label>Dusty Owner and Not Co Loan</label>
        </rules>
        <rules>
            <name>Dusty_Originator_and_Co_Loan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Loan_Originator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dusty Broderick</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Co_Loan_Originator__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Account_Owner</targetReference>
            </connector>
            <label>Dusty Originator and Co Loan</label>
        </rules>
        <rules>
            <name>Dusty_is_Neither_and_LO_and_CO_LO_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Loan_Originator__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Dusty Broderick</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Co_Loan_Originator__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Co_Loan_Originator__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Dusty Broderick</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Assign_Account_Owner</targetReference>
            </connector>
            <label>Dusty is Neither and LO and CO LO Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Melissa_or_Dustin</name>
        <label>Melissa or Dustin?</label>
        <locationX>270</locationX>
        <locationY>996</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Assign_Account_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other(Dusty now Owner)</defaultConnectorLabel>
        <rules>
            <name>Melissa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Loan_Originator__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Melissa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Assign_Account_Owner</targetReference>
            </connector>
            <label>Melissa</label>
        </rules>
        <rules>
            <name>Dustin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Loan_Originator__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Dustin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Account_Owner</targetReference>
            </connector>
            <label>Dustin</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Historic Opps/Account Ownership {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Historic Opps/Account Ownership</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_Newer_or_Open_Opp</name>
        <label>Copy 1 of Get Newer or Open Opp</label>
        <locationX>1557</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Newer_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CloseDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>1040</locationX>
        <locationY>636</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Co_Loan_User</name>
        <label>Get Co Loan User</label>
        <locationX>1062</locationX>
        <locationY>996</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Co_Loan_Originator</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Co_Loan_Originator__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Newer_or_Open_Opp</name>
        <label>Get Newer or Open Opp</label>
        <locationX>1557</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Get_Newer_or_Open_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>1040</locationX>
        <locationY>756</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Loan_Originator__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Update_Loan</name>
        <label>Copy 1 of Copy 1 of Update Loan</label>
        <locationX>1546</locationX>
        <locationY>1116</locationY>
        <connector>
            <targetReference>Copy_4_of_Update_Account_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>ChagnedOwnerDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreviousOwnerForOwnerUpdate__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Account_Owner</name>
        <label>Copy 1 of Update Account Owner</label>
        <locationX>930</locationX>
        <locationY>1476</locationY>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Loan</name>
        <label>Copy 1 of Update Loan</label>
        <locationX>666</locationX>
        <locationY>1116</locationY>
        <connector>
            <targetReference>Update_Account_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>ChagnedOwnerDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreviousOwnerForOwnerUpdate__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Account_Owner</name>
        <label>Copy 2 of Update Account Owner</label>
        <locationX>1040</locationX>
        <locationY>2148</locationY>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Loan</name>
        <label>Copy 2 of Update Loan</label>
        <locationX>930</locationX>
        <locationY>1356</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Account_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>ChagnedOwnerDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreviousOwnerForOwnerUpdate__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Update_Account_Owner</name>
        <label>Copy 3 of Update Account Owner</label>
        <locationX>50</locationX>
        <locationY>1356</locationY>
        <inputReference>accountRecordVar</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Update_Loan</name>
        <label>Copy 3 of Update Loan</label>
        <locationX>1040</locationX>
        <locationY>2028</locationY>
        <connector>
            <targetReference>Copy_2_of_Update_Account_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>ChagnedOwnerDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreviousOwnerForOwnerUpdate__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_4_of_Update_Account_Owner</name>
        <label>Copy 4 of Update Account Owner</label>
        <locationX>1546</locationX>
        <locationY>1236</locationY>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Owner</name>
        <label>Update Account Owner</label>
        <locationX>666</locationX>
        <locationY>1236</locationY>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Loan</name>
        <label>Update Loan</label>
        <locationX>50</locationX>
        <locationY>1236</locationY>
        <connector>
            <targetReference>Copy_3_of_Update_Account_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>ChagnedOwnerDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreviousOwnerForOwnerUpdate__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1431</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Newer_or_Open_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>PreviousOwnerForOwnerUpdate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>006f4000005CQ2rAAG</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2023-03-28</startDate>
            <startTime>17:37:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>accountRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
