force-app/main/default/flows/updateLoanRelatedContacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>chooseContactType</name>
        <label>chooseContactType</label>
        <locationX>88</locationX>
        <locationY>324</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>choice_Buyers_Agent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputContactType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buyers_Agent__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateLoan</targetReference>
            </connector>
            <label>Buyer&apos;s Agent</label>
        </rules>
    </decisions>
    <decisions>
        <name>contactFound</name>
        <label>contactFound</label>
        <locationX>141</locationX>
        <locationY>215</locationY>
        <defaultConnector>
            <targetReference>chooseContactType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>null_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>foundContactId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <label>null Contact</label>
        </rules>
    </decisions>
    <interviewLabel>updateLoanRelatedContacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>updateLoanRelatedContacts</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Contact</name>
        <label>Find Contact</label>
        <locationX>136</locationX>
        <locationY>105</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>contactFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputEmail</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>foundContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateLoan</name>
        <label>updateLoan-BuyerAgent</label>
        <locationX>229</locationX>
        <locationY>429</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputLoan.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Buyers_Agent__c</field>
            <value>
                <elementReference>foundContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Find_Contact</startElementReference>
    <status>Active</status>
    <variables>
        <name>foundContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputContactType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputLoan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
